 
.jsgrowl_msg_container{
  font-family: Arial, Helvetica, sans-serif;
  position:fixed;
  z-index: 1000000;
  opacity: .75;
  /*filter: alpha(opacity = 75);*/
  border-collapse:collapse;
  width: 450px;
  text-align:left;
}
.jsgrowl_msg_container .jsg_body{
  background-color:white;
  width:380px;
}
.jsgrowl_msg_container .jsg_body_container{
  position:relative;
  min-height:30px;
}
.jsgrowl_msg_container .jsg_clickable{
  cursor:pointer;
}
.jsgrowl_msg_container .jsg_close{
  position:absolute;
  right:0;
  top:0;
  cursor:pointer;
  display:block;
  background-image: none ;
  background-color: transparent ;
  background-repeat: no-repeat;
  height:22px;
  width:22px;
}
.jsgrowl_msg_container .jsg_icon{
  float:left;
  padding:0 10px 0 0 ;
  height: 32px;
}
.jsgrowl_msg_container .jsg_title{
  font-weight:bold;
  color:#000;
  font-size:14px;
  margin:0 0 10px 0;
  word-spacing: 3px;
  border-bottom:1px #000 solid;
}
.jsgrowl_msg_container .jsg_msg{
  font-weight:bold;
  color:#000;
  margin: 0 20px 0 0;
  font-size:12px;
  word-spacing: 3px;
}
.jsgrowl_msg_container .jsg_side{
  background-color:white;
  width:10px;
}
.jsgrowl_msg_container .jsg_middle{
  background-color:white;
  width:380px;
}
.jsgrowl_msg_container .jsg_corner {
  height:10px;
  width:10px;
  background-color: transparent ;
  background-repeat: no-repeat;
  background-image:url(/cobbler_webui_content/jsgrowl_corners.png) ;
}
.jsgrowl_msg_container .jsg_tl{
  background-position: top left;
}
.jsgrowl_msg_container .jsg_tr{
  background-position: top right;
}
.jsgrowl_msg_container .jsg_bl{
  background-position: bottom left;
}
.jsgrowl_msg_container .jsg_br{
  background-position: bottom right;
}
.jsgrowl_msg_container .jsg_mr{
  background-position: top right;
}
.jsgrowl_msg_container .jsg_mb{
  background-position: bottom right;
}
 
.jsgrowl_msg_container:hover .jsg_corner {
  background-image:url(/cobbler_webui_content/jsgrowl_corners_hover.png) ;
}
.jsgrowl_msg_container:hover .jsg_middle {
  background-image:url(/cobbler_webui_content/jsgrowl_middle_hover.png) ;
}
.jsgrowl_msg_container:hover .jsg_side {
  background-image:url(/cobbler_webui_content/jsgrowl_side_hover.png) ;
}
.jsgrowl_msg_container:hover .jsg_close{
  background-image: url(/cobbler_webui_content/jsgrowl_close.png);
}
 
