[Unit]
Description=Cobbler Helper Daemon
After=syslog.target network.target

[Service]
ExecStart=@@install_scripts@@/cobblerd -F
ExecStartPost=-/usr/bin/touch @@install_data@@/share/cobbler/web/cobbler.wsgi
PrivateTmp=yes
KillMode=process

[Install]
WantedBy=multi-user.target

