#extends cobbler.webui.master
#attr $title = "Cobbler: List of Distributions"

#block body

    ## ==== BEGIN PAGE NAVIGATION ====
    #set global what="distro"
    #include "/usr/share/cobbler/webui_templates/paginate.tmpl"
    ## ==== END PAGE NAVIGATION ====


<table class="sortable">
    <thead>
        <caption>Cobbler Distributions</caption>
        <tr>
            <th class="text">Name</th>
            <th class="text">Breed</th>
            <th class="text">Arch</th>
        </tr>
    </thead>
    <tbody>
        #set $evenodd = 1
        #for $distro in $distros
        #if $evenodd % 2 == 0
            #set $tr_class = "roweven"
        #else
            #set $tr_class = "rowodd"
        #end if
        #set $evenodd += 1

        <tr class="$tr_class">
            <td>
                <a href="$base_url?mode=distro_edit&name=$distro.name">$distro.name</a>
            </td>
            <td>$distro.breed</td>
            <td>$distro.arch</td>
        </tr>
        #end for
    </tbody>
</table>
#end block body

