#extends cobbler.webui.master

#block body

    ## ==== BEGIN PAGE NAVIGATION ====
    #set global what="image"
    #include "/usr/share/cobbler/webui_templates/paginate.tmpl"
    ## ==== END PAGE NAVIGATION ====

<table class="sortable">

    <thead>
        <caption>Cobbler Images</caption>
        <tr>
            <th class="text">Name</th>
            <th class="text">File</th>
        </tr>
    </thead>
    <tbody>
        #set $evenodd = 1
        #for $image in $images
        #if $evenodd % 2 == 0
            #set $tr_class = "roweven"
        #else
            #set $tr_class = "rowodd"
        #end if
        #set $evenodd += 1

        <tr class="$tr_class">
            <td>
                <a href="$base_url?mode=image_edit&name=${image.name}">${image.name}</a>
            </td>
            <td> 
                ${image.file}
            </td>
        </tr>

        #end for
    </tbody>
</table>
#end block body
