menuentry '$menu_name' --class gnu-linux --class gnu --class os {
  echo 'Loading kernel ...'
  linux $kernel_path $kernel_options
  echo 'Loading initial ramdisk ...'
  initrd $initrd_path
  echo '...done'
}
