body, html {
  background-color: black;
  margin: 0;
  padding: 0;
}

body {
  min-width: 750px;
}

img {
  border: none;
}

/* site-wide font specifications */

body, ul, li, p, h1, h2, h3 {
  font-family: "Liberation Sans", "Helvetica", "Luxi Sans", "Bitstream Vera Sans", sans-serif;
  color: white;
}

ul {
  list-style-type: square;
}

#sidebar {
  height: auto;
  float: left;
}

#sidebar p, #sidebar h2 {
  margin-left: 24px;
}

ul#nav {
  text-transform: uppercase;
  letter-spacing: -.05em;
  list-style-type: none;
  font-family: "URW Gothic", "Liberation Sans", "Helvetica", "Luxi Sans", "Bitstream Vera Sans", sans-serif;
}

ul#nav li a {
  color: #c98b07;
  text-decoration: none;
}

ul#nav li#active {
  list-style-image: url('../img/current-page.png');
}

ul#nav li#active a, ul#nav li#active a:link, ul#nav li#active a:visited {
  color: #c98b07;
}

div#feed {
  width: 160px;
  font-size: small;
  margin-top: 28px;
  margin-bottom: 50px;
  border-top: 1px solid #444;
  padding-top: 5px;
}

div#feed ul {
  font-size: x-small;
}


#wrap {
  min-width: 750px;
  margin: 0px 3%;
  padding-top: 12px;
}

div#main {
  /** background-color: #212121; **/
  border-top: 1px solid #59cbe1;
  border-bottom: 1px solid #59cbe1;
  overflow: auto;
  padding: 20px 0px;
}

div#content {
  width: 70%;
  float: right;
  padding: 0px 24px;
}

div#content h1 {
  font-size: x-large;
  font-weight: normal;
}

div#content h2 {
  font-size: medium;
  font-weight: 900;
  text-transform: uppercase;
}

div#content h3 {
  color: #59cbe1;
}


div#content p {
  font-size: small;
  color: #ccc;
}

a:link {
  color: #c98b07;
}

a:hover {
  color: white;
}

a:visited {
  color: #99d9e8;
}


#content p.metadata {
  font-size: x-small;
  color: white;
}

dt {
  font-weight: 900;
  margin-bottom: 1em;
}

dd {
  color: #ccc;
  margin-bottom: 2em;
}

.back-to-top {
  background: url('../img/up-arrow.gif') left no-repeat;
  padding-left: 20px;
  font-size: small;
}

blockquote {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #444;
  padding: 2px 4px;
}

p.note, p.tip {
  margin: 16px 8px;
  padding: 8px 12px;
  color: white !important;
  background-color: #666;
  -moz-border-radius: 10px;
}

p.note strong, p.tip strong {
  font-size: 120%;
}

tt {
  font-size: 130%;
  font-weight: 700;
}

#faq, #toc {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #444;
  padding-top: 12px;
  padding-bottom: 16px;
  padding-left: 30px;
}


#footer {
    clear: both;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    background: #757575;
    height: 290px;
}

/* This is hidden from IE <= 6 because it can't do transparency */
body > #footer {
    background: #757575 url(img/footer_pattern.png) repeat-x;
}

#footer p {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    border: 0px;
    width: 220px;
    text-align: center;
}

#footer p a img {
    border: 0px;
}

#projects {
    margin: 0px;
    border: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}


#projects dl {
    margin: 0px;
    border: 0px solid white;
    height: 180px;
    position: absolute;
    top: 0px;
    left: 0px;
}
/* This is hidden from IE <= 6 because it can't do transparency */
head:first-child+body #projects dl {
    background: url(img/footer_corner.png) no-repeat;
}


#projects #p1 {
    margin-left: 25%;
    width: 75%;
}

#projects #p2 {
    margin-left: 50%;
    width: 50%;
}

#projects #p3 {
    margin-left: 75%;
    width: 25%;
}

#projects dt, #projects dd {
    padding: 0px;
    margin: 0px;
}

#projects #p1 dt, #projects #p1 dd {
    width: 33%;
    }
#projects #p2 dt, #projects #p2 dd {
    width: 50%;
}
#projects #p3 dt, #projects #p3 dd {
    width: 99%;
}

#projects {
}

#projects span {
    font-size: 0.8em;
    display: block;
    padding-left: 1em;
    padding-top: 0.5em;
}

#projects a {
    font-size: 0.8em;
    display: block;
    padding-left: 0.8em;
    padding-top: 1em;
}

#projects a {
    color: white;
    text-decoration: inherit;
}

#projects span {
    color: #ccc;
}


.screenshot img {
    border: 0px;
}
.screenshot {
    padding: 1em;
    background: #6a7178;
    color: #dddddd;
    text-align: center;
    width: 70%;
    margin-left: auto ! important;
    margin-right: auto ! important;
    margin-top: 1em;
    margin-bottom: 3em;
}

.screenshot a {
    color: inherit;
}

