repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--verbose", "--safe"]
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.10
        additional_dependencies: ['click==8.0.4']
  - repo: https://github.com/pycqa/isort
    # Configuration for isort is in "pyproject.toml"
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--filter-files"]
