[MASTER]

# Specify a score threshold to be exceeded before program exits with error.
fail-under=9.5

# List of plugins (as comma separated values of python module names) to load,
# usually to register additional checkers.
load-plugins=pylint.extensions.no_self_use

[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=W0511,R0801

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120
