---
config:
    dhcpd_bin: /usr/sbin/dhcpd
    dhcpd_conf: /etc/dhcpd.conf
    kernel_root: /var/www/shoe
    kickstart_root: /var/www/shoe
    kickstart_url: 'http://192.168.1.1/kickstart'
    pxelinux: /usr/lib/syslinux/pxelinux.0
    servername: '192.168.1.1'
    tftpboot: /tftpboot
    tftpd_bin: /usr/sbin/in.tftpd
    tftpd_conf: /etc/xinetd.d/tftp
distros:
    -
        initrd: 'initrd'
        kernel: 'vmlinuz'
        name: testdistro0
groups:
    -
        distro: testdistro0
        kickstart: fc5.ks
        name: testgroup0
systems:
    -
        group: testgroup0
        name: '00:90:27:F9:74:15'
