include COPYING AUTHORS README
include cobbler.spec config/service/cobblerd.service

recursive-include aux *
recursive-include bin *
recursive-include config *
recursive-include docs *
recursive-include snippets *
recursive-include templates *
recursive-include scripts *
