include COPYING_ELILO
include elilo-3.6-ia64.efi
include dhcp.template
include kickstart_fc5.ks
include kickstart_fc6.ks
include kickstart_fc6_domU.ks
include default.ks
include default.pxe
include cobbler.1.gz
include COPYING AUTHORS README CHANGELOG NEWS
include rsync.exclude
include watcher.py
include cobblersyslogd
include menu.c32
