{% extends 'master.tmpl' %}
{% block content %}

{% if image %}
<script language="javascript">
function disablename(value)
{
    document.getElementById("name").disabled=value;
    if (value) {
        document.getElementById("name").value = "{{ image.name }}";
    }
}
</script>
{% endif %} 

{% if image %}
    <div class="section_caption">Editing an Image</div>
{% else %}
    <div class="section_caption">Adding an Image</div>
{% endif %}


<form method="POST" action="/cobbler_web/image/save">
<fieldset id="cform">
     
    {% if image %}
        <input type="hidden" name="new_or_edit" value="edit"/>
        <input type="hidden" name="oldname" value="{{ image.name }}"/>
    {% else %}
        <input type="hidden" name="new_or_edit" value="new"/>
    {% endif %}
    <input type="hidden" name="mode" value="image_save">

    <table border=0>

    <tr>
    <td>
    <label for="name">Name</label>
    </td>
    <td>
    <input type="text" size="128" style="width: 150px;" name="name" id="name" {% if image %} value="{{ image.name }}" disabled="true"{% endif %}/>
    <p class="context-tip">Example: RHEL-5-i386</p>
    </td>
    </tr>

    {% if image %}
    <tr>
    <td>
    <label for="mode">Edit Mode</label>
    </td>
    <td>
    <input type="radio" name="editmode" value="edit" checked onclick="javascript:disablename(true)">Edit
    <input type="radio" name="editmode" value="rename" onclick="javascript:disablename(false)">Rename + Edit
    <input type="radio" name="editmode" value="copy" onclick="javascript:disablename(false)">Copy + Edit
    <p class="context-tip">How do you want to modify this object?</p>
    </td>
    </tr>
    {% else %}
    <input type="hidden" name="editmode" value="new"/>
    {% endif %}

    {% if image %}
    <tr>
    <td>
    <label>Created</label>
    </td>
    <td>
    {{ image.ctime }}
    </td>
    </tr>

    <tr>
    <td>
    <label>Last Modified</label>
    </td>
    <td>
    {{ image.mtime }}
    </td>
    </tr>
    {% endif %}

    <tr>
    <td>
    <label for="comment">Comment</label>
    </td>
    <td>
    <textarea rows="5" cols="30" 400px;" name="comment" id="comment">{% if image %}{{ image.comment }}{% endif %}</textarea>
    <p class="context-tip">This is a free-form description field</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="file">File</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="file" id="file" {% if image %}value="{{ image.file }}"{% endif %}/>
    <p class="context-tip">Ex: nfs://server/path/os-installer.iso</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="arch">Architecture</label>
    </td>
    <td>
    {% for arch in available_arches %}
    <input type="radio" name="arch" id="arch" value="{{ arch }}"{%if image %}{% ifequal image.arch arch %} checked{% endifequal %}{% endif %}>{{ arch }}</input>
    {% endfor %}
    <p class="context-tip">What architecture is the image?</p> 
    </td>
    </tr>

    <tr>
    <td>
    <label for="breed">Breed</label>
    </td>
    <td>
    <select name="breed" id="breed">
    {% for breed_name, breed_desc in available_breeds %}
    <option value="{{ breed_name }}"{%if image %}{% ifequal image.breed breed_name %} selected{% endifequal %}{% endif %}>{{ breed_desc }}</input>
    {% endfor %}
    </select>
    <p class="context-tip">What type of OS?</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="virtram">Virt RAM (MB)</label>
    </td>
    <td>
    <input type="text" size="5" style="width: 150px;" name="virt_ram" id="virt_ram" {% if image %}value="{{ image.virt_ram }}"{% endif %}/>
    <p class="context-tip">For virtual installs only, allocate this amount of RAM, in MB.</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="virtautoboot">Virt AutoBoot</label>
    </td>
    <td>
    <input type="text" size="5" style="width: 150px;" name="virt_auto_boot" id="virt_auto_boot" {% if image %}value="{{ image.virt_auto_boot }}"{% endif %}/>
    <p class="context-tip">For virtual installs only, enable/disable VM autoboot.</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <label for="virtfilesize">Virt Disk (GB)</label>
    </td>
    <td>
    <input type="text" size="5" style="width: 150px;" name="virt_file_size" id="virt_file_size" {% if image %}value="{{ image.virt_file_size }}"{% endif %}/>
    <p class="context-tip">For virtual installs only, require this disk size in GB.</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <label for="virtpath">Virt Path</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="virt_path" id="virt_path" {% if image %}value="{{ image.virt_path }}"{% endif %}/>
    <p class="context-tip">Sets koan's storage preferences, read manpage or leave blank.</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="virttype">Virt Type</label>
    </td>
    <td>
    {% for virt_type,virt_desc in available_virttypes %}
    <input type="radio" name="virt_type" id="virt_type" value="{{ virt_type }}"{% if image %}{% ifequal image.virt_type virt_type %} checked{% endifequal %}{% endif %}>{{ virt_desc }}</input>
    {% endfor %}
    <p class="context-tip">What virtualization technology should koan use?</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="virtcpus">Virt CPUs</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 150px;" name="virt_cpus" id="virt_cpus" {% if image %}value="{{ image.virt_cpus }}"{% endif %}/>
    <p class="context-tip">How many virtual CPUs?  This is an integer.</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <label for="networkcount">NICs</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 150px;" name="network_count" id="network_count" {% if image %}value="{{ image.network_count }}"{% endif %}/>
    <p class="context-tip">How many nics should be created  This is an integer.</p>
    </td>
    </tr>    

    <tr>
    <td>
    <label for="virtbridge">Virt Bridge</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 150px;" name="virt_bridge" id="virt_bridge" {% if image %}value="{{ image.virt_bridge }}"{% endif %}/>
    <p class="context-tip">Overrides the virtual networking bridge choice in settings.</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="imagetype">Image Type</label>
    </td>
    <td>
    <select name="image_type" id="image_type">
    {% for image_type in available_imagetypes %}
    <option value="{{ image_type }}"{% if image %}{% ifequal image.image_type image_type %} selected{% endifequal %}{% endif %}>{{ image_type }}</input>
    {% endfor %}
    </select>
    <p class="context-tip">What type of OS?</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="owners">Access Allowed For</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="owners" id="owners" {% if image %}value="{{ image.owners|join:" " }}"{% else %}value="{{ user }}"{% endif %}/>
    <p class="context-tip">Applies only if using authz_ownership module, space delimited</p>
    </td>
    </tr>


    {% if image and editable %}
    <tr>
    <td>
    <label for="delete">Delete</label>
    </td>
    <td>
       <input type="checkbox" name="delete1" value="True">Yes
       <input type="checkbox" name="delete2" value="True">Really
       <input type="checkbox" name="recursive" value="True">Delete child objects?
       <p class="context-tip">Check both buttons and click save to delete this object</p>
    </td>
    </tr>
    {% endif %}

    {% if editable %}
    <tr>
    <td>
    </td>
    <td>
    <input type="submit" name="submit" value="Save"/>
    <input type="reset" name="reset" value="Reset"/>
    </td>
    </tr>
    {% endif %}

</table>
</fieldset>
</form>
{% endblock content %}
