#extends cobbler.webui.master
#block body

#import time

#if $distro
<script language="javascript">
function disablename(value)
{
    document.getElementById("name").disabled=value;
    if (value) {
        document.getElementById("name").value = "$distro.name";
    }
}


</script>
#end if 

#if $editable != True
#set global $owners = $distro.owners
#include "/usr/share/cobbler/webui_templates/enoaccess.tmpl"
#end if

<form method="POST" action="$base_url">
<fieldset id="cform">

     
    #if $distro
        <legend>Editing Distro</legend>
        <input type="hidden" name="new_or_edit" value="edit"/>
        <input type="hidden" name="oldname" value="$distro.name"/>
    #else
        <legend>Adding a Distro</legend>
        <input type="hidden" name="new_or_edit" value="new"/>
    #end if
    <input type="hidden" name="mode" value="distro_save">

    <table border=0>

    <tr>
    <td>
    <label for="name">Name</label>
    </td>
    <td>
    #if $distro
    <input type="text" size="128" style="width: 150px;" name="name" id="name" disabled="true"
    #else
    <input type="text" size="128" style="width: 150px;" name="name" id="name"
    #end if
        #if $distro
            value="$distro.name"
        #end if
    />
    <p class="context-tip">Example: RHEL-5-i386</p>
    </td>
    </tr>

    #if $distro
    <tr>
    <td>
    <label for="mode">Edit Mode</label>
    </td>
    <td>
    <input type="radio" name="editmode" value="edit" checked onclick="javascript:disablename(true)">Edit
    <input type="radio" name="editmode" value="rename" onclick="javascript:disablename(false)">Rename + Edit
    <input type="radio" name="editmode" value="copy" onclick="javascript:disablename(false)">Copy + Edit
    <p class="context-tip">How do you want to modify this object?</p>
    </td>
    </tr>
    #else
    <input type="hidden" name="editmode" value="new"/>
    #end if

    #if $distro
    <tr>
    <td>
    <label>Created</label>
    </td>
    <td>
    $time.ctime($distro.ctime)
    </td>
    </tr>

    <tr>
    <td>
    <label>Last Modified</label>
    </td>
    <td>
    $time.ctime($distro.mtime)
    </td>
    </tr>
    #end if

    <tr>
    <td>
    <label for="kernel">Kernel</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="kernel" id="kernel"
        #if $distro
            value="$distro.kernel"
        #end if
    />
    <p class="context-tip">Absolute filesystem path to a kernel file</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="initrd">Initrd</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="initrd" id="initrd"
        #if $distro
            value="$distro.initrd"
        #end if
    />
    <p class="context-tip">Absolute filesystem path to an initrd file</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="arch">Architecture</label>
    </td>
    <td>
    #if $distro and $distro.arch == "i386"
        <input type="radio"  name="arch" id="arch" value="i386" checked>x86
    #else
        <input type="radio" name="arch" id="arch" value="i386">i386
    #end if
    #if $distro and $distro.arch == "x86_64"
        <input type="radio" name="arch" id="arch" value="x86_64" checked>x86_64
    #else
        <input type="radio" name="arch" id="arch" value="x86_64">x86_64
    #end if

    #if $distro and $distro.arch == "s390x"
        <input type="radio" name="arch" id="arch" value="s390x" checked>s390x
    #else
        <input type="radio" name="arch" id="arch" value="s390x">s390x
    #end if

    #if $distro and $distro.arch == "ia64"
        <input type="radio" name="arch" id="arch" value="ia64" checked>ia64
    #else
        <input type="radio" name="arch" id="arch" value="ia64">ia64
    #end if
    <p class="context-tip">What architecture is the distro?</p> 
    </td>
    </tr>

    <tr>
    <td>
    <label for="kopts">Kernel Options</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="kopts" id="kopts"
        #if $distro
            value="$distro.kernel_options"
        #end if
    />
    <p class="context-tip">Example: noipv6 magic=foo</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="koptspost">Post Kernel Options</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="koptspost" id="koptspost"
        #if $distro
            value="$distro.kernel_options_post"
        #end if
    />
    <p class="context-tip">Example: clocksource=pit nosmp noapic nolapic</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="ksmeta">Kickstart Metadata</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="ksmeta" id="ksmeta"
        #if $distro
            value="$distro.ks_meta"
        #end if
    />
    <p class="context-tip">Example: dog=fido gnome=yes</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="breed">Breed</label>
    </td>
    <td>
    #if $distro and $distro.breed == "redhat"
        <input type="radio" name="breed" id="breed" value="redhat" checked>Red Hat Based
    #else
        #if $distro and $distro.breed != "redhat"
            <input type="radio" name="breed" id="breed" value="redhat">Red Hat Based
        #else
            <input type="radio"  name="breed" id="breed" value="redhat" checked>Red Hat Based
        #end if
    #end if
    #if $distro and $distro.breed == "debian"
        <input type="radio"  name="breed" id="breed" value="debian" checked>Debian
    #else
        <input type="radio" name="breed" id="breed" value="debian">Debian
    #end if
    #if $distro and $distro.breed == "suse"
        <input type="radio" name="breed" id="breed" value="suse" checked>SuSE
    #else
        <input type="radio" name="breed" id="breed" value="suse">SuSE
    #end if
    <p class="context-tip">This option determines how kernel options are prepared</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="osversion">OS Version</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="osversion" id="osversion"
        #if $distro
            value="$distro.os_version"
        #end if
    />
    <p class="context-tip">Example: rhel2.1, rhel4, fedora8</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="owners">Access Allowed For</label>
    </td>
    <td>
    #if $distro
       #set ownerslist = ','.join($distro.owners)
    #end if
    <input type="text" size="255" style="width: 400px;" name="owners" id="owners"
        #if $distro
            value="$ownerslist"
        #else 
            value="$user"
        #end if
    />
    <p class="context-tip">Applies only if using authz_ownership module, comma-delimited</p>
    </td>
    </tr>


    #if $distro and $editable == True
    <tr>
    <td>
    <label for="delete">Delete</label>
    </td>
    <td>
       <input type="checkbox" name="delete1" value="delete1">Yes
       <input type="checkbox" name="delete2" value="delete2">Really
       <input type="checkbox" name="recursive" value="recursive">Delete child objects?
       <p class="context-tip">Check both buttons and click save to delete this object</p>
    </td>
    </tr>
    #end if

    #if $editable == True
    <tr>
    <td>
    </td>
    <td>
    <input type="submit" name="submit" value="Save"/>
    <input type="reset" name="reset" value="Reset"/>
    </td>
    </tr>
    #end if

</table>
</fieldset>
</form>
#end block body
