#extends cobbler.webui.master
##attr $title = "Cobbler: Edit Kickstart File $ksfile"

#block body

#if $editable != True
<blockquote>
NOTE: You do not have permission to make changes to this
kickstart template and can only read it.  It is possible that
other Cobbler users has secured permissions on Cobbler
profiles/systems that depend on this template -- changing this
template would ultimately affect those profile/system records which
you do not have access to.  Alternatively, you may not have access
to edit *any* kickstart templates.  Contact your Cobbler server administrator
if you need to resolve this.
</blockquote>
</br>
#end if

<form method="post" action="$base_url?mode=ksfile_save">
    <input type="hidden" name="name" value="$name"/>
    <fieldset id="cform">
        <legend>Edit Kickstart File</legend>

        <pre><textarea rows="40" cols="120" name="ksdata" id="ksdata">$ksdata</textarea></pre>
        <br/>

        #if $editable == True
            <input type="submit" name="submit" value="Save"/>
            <input type="reset" name="reset" value="Reset"/>
        #end if

    </fieldset>
</form>

#if $editable == True
<br/>
<blockquote>
NOTE:  Run a cobbler sync to after making changes here in order
for kickstart files to be regenerated.
</blockquote>
#end if

#end block body
