<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
#attr $title = "Cobbler Web Interface"
    <title>$title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

    <link rel="stylesheet" type="text/css" media="all" href="/cobbler/webui/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/cobbler/webui/cobblerweb.css" />

<script language="Javascript" src="/cobbler/webui/cobbler.js" ></script>

</head>


<body onload="if (window.page_onload) { page_onload(); }">

<div id="wrap">
        <a href="$base_url/index">
            <img alt="Cobbler Logo"
                 src="/cobbler/webui/logo-cobbler.png"/>
        </a>
</div>

<div id="main">

<div id="sidebar">
    <ul id="nav">
        <li><a href="/cobbler/webui/wui.html" class="menu">Docs</a></li>
        <li><a href="$base_url?mode=settings_view" class="menu">Settings</a></li>
        <li><hr/></li>
        <li><a class="menu">Distros</span></li>
	    ##if $mode.find("distro") != -1
    	    <ul id="navaction">
                <li><a href="$base_url?mode=distro_list" class="menu">View</a></li>
        	<li><a href="$base_url?mode=distro_search" class="menu">Search</a></li>
        	<li><a href="$base_url?mode=distro_edit" class="menu">Add</a></li>
	    </ul>
	    ##end if
        <li><a class="menu">Profiles</span></li>
	    ##if $mode.find("profile") != -1
    	    <ul id="navaction">
                <li><a href="$base_url?mode=profile_list" class="menu">View</a></li>
        	<li><a href="$base_url?mode=profile_search" class="menu">Search</a></li>
        	<li><a href="$base_url?mode=profile_edit" class="menu">Add</a></li>
    		<li><a href="$base_url?mode=subprofile_edit" class="menu">Add child</a></li>
	    </ul>
	    ##end if	    
        <li><a class="menu">Systems</span></li>
	    ##if $mode.find("system") != -1
    	    <ul id="navaction">
                <li><a href="$base_url?mode=system_list" class="menu">View</a></li>
        	<li><a href="$base_url?mode=system_search" class="menu">Search</a></li>
    		<li><a href="$base_url?mode=system_edit_new" class="menu">Add</a></li>
	    </ul>
	    ##end if	    
        <li><a class="menu">Kickstarts</span></li>
	    ##if $mode.find("ksfile") != -1
    	    <ul id="navaction">
                <li><a href="$base_url?mode=ksfile_list" class="menu">View</a></li>
	        <li><a href="$base_url?mode=ksfile_new" class="menu">Add</a></li>
	    </ul>
	    ##end if	    
        <li><a class="menu">Repos</span></li>
	    ##if $mode.find("repo") != -1
    	    <ul id="navaction">
                <li><a href="$base_url?mode=repo_list" class="menu">View</a></li>
        	<li><a href="$base_url?mode=repo_search" class="menu">Search</a></li>
	        <li><a href="$base_url?mode=repo_edit" class="menu">Add</a></li>
	    </ul>
	    ##end if	    
        <li><a class="menu">Images</span></li>
	    ##if $mode.find("image") != -1
    	    <ul id="navaction">
                <li><a href="$base_url?mode=image_list" class="menu">View</a></li>
        	<li><a href="$base_url?mode=image_search" class="menu">Search</a></li>
	        <li><a href="$base_url?mode=image_edit" class="menu">Add</a></li>
	    </ul>
	    ##end if	    
        <li><hr/><br/></li>
        <li><a class="button sync" href="$base_url?mode=sync">Sync</a></li>
    </ul>
</div>

<div id="content">
#block body

    <h1 style="color: red;">Template Failure</h1>

#end block body
</div><!-- content -->
</div><!-- main -->

</body>
</html>
