    ## USAGE:  # set global what="system" 
    ##         # include "/path/to/this/file"

    Page:&nbsp;
    #if $page != 0
       #set $previous_page = $page - 1
       <A HREF="${base_url}/${what}_list?page=${previous_page}&limit=${results_per_page}">&lt;</A>&nbsp;
    #else
       [
    #end if

    #for $this_page in range(0,$pages+1)
       #if $this_page != $page
           <A HREF="${base_url}/${what}_list?page=${this_page}&limit=${results_per_page}">${this_page}</A>&nbsp;
       #else
           ${this_page}
       #end if
    #end for

    #if $page != $pages
       #set $next_page = $page + 1
       <A HREF="${base_url}/${what}_list?page=${next_page}&limit=${results_per_page}">&gt;</A>
    #else
       ]
    #end if

    <br/>
    <br/>

