#extends cobbler.webui.master
#attr $title = "Cobbler: List of Repositories"

#block body

    ## ==== BEGIN PAGE NAVIGATION ====
    #set what="repo"
    Page:&nbsp;
    #if $page != 0
       #set $previous_page = $page - 1
       <A HREF="${base_url}/${what}_list?page=${previous_page}&limit=${results_per_page}">&lt;</A>&nbsp;
    #else
       [
    #end if

    #for $this_page in range(0,$pages+1)
       #if $this_page != $page
           <A HREF="${base_url}/${what}_list?page=${this_page}&limit=${results_per_page}">${this_page}</A>&nbsp;
       #else
           ${this_page}
       #end if
    #end for

    #if $page != $pages
       #set $next_page = $page + 1
       <A HREF="${base_url}/${what}_list?page=${next_page}&limit=${results_per_page}">&gt;</A>
    #else
       ]
    #end if

    <br/>
    <br/>
    ## ==== END PAGE NAVIGATION ====


<table class="sortable">
    <thead>
        <caption>Cobbler Repos</caption>
        <tr>
            <th class="text">Name</th>
            <th class="text">Mirror</th>
        </tr>
    </thead>
    <tbody>
        #set $evenodd = 1
        #for $repo in $repos
        #if $evenodd % 2 == 0
            #set $tr_class = "roweven"
        #else
            #set $tr_class = "rowodd"
        #end if
        #set $evenodd += 1

        <tr class="$tr_class">
            <td>
                <a href="$base_url/repo_edit?name=$repo.name">$repo.name</a>
            </td>
            <td>$repo.mirror</td>
        </tr>
        #end for
    </tbody>
</table>
#end block body

