#extends cobbler.webui.master
#block body

#if $repo
<script language="javascript">
function disablename(value)
{
   document.getElementById("name").disabled=value;
   if (value) {
       document.getElementById("name").value = "$repo.name";
   }
}
</script>
#end if


<form method="post" action="$base_url/repo_save">
<fieldset id="cform">

    #if $repo
        <legend>Editing Repo</legend>
        <input type="hidden" name="new_or_edit" value="edit"/>
        <input type="hidden" name="oldname" value="$repo.name"/>
    #else
        <legend>Adding a Repo</legend>
        <input type="hidden" name="new_or_edit" value="new"/>
    #end if
 
    <table border=0>
    
    <tr>
    <td>
    <label for="name">Name</label>
    </td>
    <td>
    #if $repo
    <input type="text" size="128" style="width: 150px;" name="name" id="name" disabled="true"
    #else
    <input type="text" size="128" style="width: 150px;" name="name" id="name"
    #end if
        #if $repo
            value="$repo.name"
        #end if
    />
    <p class="context-tip">Example: EL-5-i386-EPEL-testing</p>
    </td>
    </tr>

    #if $repo
    <tr>
    <td>
    <label for="mode">Edit Mode</label>
    </td>
    <td>
    <input type="radio" name="editmode" value="edit" checked onclick="javascript:disablename(true)">Edit
    <input type="radio" name="editmode" value="rename" onclick="javascript:disablename(false)">Rename + Edit
    <input type="radio" name="editmode" value="copy" onclick="javascript:disablename(false)">Copy + Edit
    <p class="context-tip">How do you want to modify this object?</p>
    </td>
    </tr>
    #end if

    <tr>
    <td>
    <label for="mirror">Mirror Location (http/ftp/rsync)</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 150px;" name="mirror" id="mirror"
        #if $repo
            value="$repo.mirror"
        #end if
    />
    <p class="context-tip">Full and EXACT url path (see docs).  Can be http://, ftp://, local, or rsync://</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="keep_updated">Keep Updated</label>
    </td>
    <td>
    <input type="checkbox" name="keep_updated" id="keep_updated"
        #if (not $repo) or $repo.keep_updated
            checked="true"  
        #end if
    />
    <p class="context-tip">Disable to prevent the mirror from being updated.</p>    
    </td>
    </tr>

    <br/>

    ## FIXME: input field sizes should be larger (universally)
    ## FIXME: make this a text area?

    <tr>
    <td>
    <label for="rpm_list">RPM List</label>
    </td>
    <td>
    <input type="text" size="512" style="width: 150px;" name="rpm_list" id="rpm_list"
        #if $repo
            value="$repo.rpm_list"
        #end if
    />
    <p class="context-tip">Blank, or a list of specific RPMs (and only those RPMs) to mirror.</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="createrepo_flags">createrepo flags</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 150px;" name="creatrepoflags" id="createrepoflags"
        #if $repo
            value="$repo.createrepo_flags"
        #end if
    />
    <p class="context-tip">Additional flags to pass to yum's createrepo if http or ftp.</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="arch">arch</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 150px;" name="arch" id="arch"
        #if $repo
            value="$repo.arch"
        #end if
    />
    <p class="context-tip">Overrides the local system arch when mirroring with yum.</p>
    </td>
    </tr>



    #if $repo
    <tr>
    <td>
    <label for="delete">Delete</label>
    </td>
    <td>
       <input type="checkbox" name="delete1" value="delete1">Yes
       <input type="checkbox" name="delete2" value="delete2">Really
    <p class="context-tip">Check both buttons and click save to delete this object.</p>
    </td>
    </tr>
    #end if

    <tr>
    <td>
    </td>
    <td>
    <input type="submit" name="submit" value="Save"/>
    <input type="reset" name="reset" value="Reset"/>
    </tr>
 
</table>
</fieldset>
</form>
<br/>    

<blockquote>
Note:  Newly added repos contain no package content until "cobbler reposync" is run
from the command line, which means that profiles relying on these repositories will
not install.  Placing "cobbler reposync" on a crontab to ensure frequent updates
is recommended procedure.
</blockquote>

<br/>
#end block body
