#extends cobbler.webui.master

#block body
<table class="sortable">
    <thead>
        <caption>Cobbler Systems</caption>
        <tr>
            <th class="text">Name</th>
            <th class="text">Profile</th>
            <th class="text">MAC</th>
            <th class="text">IP</th>
            <th class="text">Hostname</th>
        </tr>
    </thead>
    <tbody>
        #set $evenodd = 1
        #for $system in $systems
        #if $evenodd % 2 == 0
            #set $tr_class = "roweven"
        #else
            #set $tr_class = "rowodd"
        #end if
        #set $evenodd += 1

        <tr class="$tr_class">
            <td>
                <a href="$base_url/system_edit?name=${system.name}">${system.name}</a>
            </td>
            <td>
                <a href="$base_url/profile_view?profile=${system.profile}">${system.profile}</a>
            </td>
            <td> ${system.mac_address} </td>
            <td> ${system.ip_address} </td>
            <td> ${system.hostname} </td>
        </tr>
        #end for
    </tbody>
</table>
#end block body
