#extends cobbler.webui.master

#block body

###
### here's a list of all the NIC fields we use
###
### FIXME: add gateway, subnet, and any other missing fields

#set $fields = [ "macaddress", "ipaddress", "hostname", "dhcptag", "virtbridge", "subnet", "gateway"]


<script language="javascript">

function delete_interface(num)
{
    #for $field in $fields
    document.getElementById("${field}-intf" + num).value = "";
    #end for
    toggleRowVisibility("id" + num);
}

#if $system
function disablename(value)
{
    document.getElementById("name").disabled=value;
    if (value) {
        document.getElementById("name").value = "$system.name";
    }
}
#else
function get_random_mac()
{
    xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", "$base_url/random_mac", true);
    xmlHttp.onreadystatechange = function () {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            var mac_field = document.getElementById("macaddress")
            var result = xmlHttp.responseText;
            if (result.charAt(2) == ':' && result.charAt(5) == ':') {
                mac_field.value = result;
            }
        }
    };
    xmlHttp.send(null);
}
#end if
</script>

## 
##   determine a bit about what interfaces should be shown and which should not.
##

#set $all_interfaces = [ "intf0", "intf1", "intf2", "intf3", "intf4", "intf5", "intf6", "intf7" ]
#if $system
    #set $interfaces = $system.interfaces.keys()
    #set $defined_interfaces = []
    #for $potential in $all_interfaces
        #if $potential in $interfaces
            #set $rc = $defined_interfaces.append($potential)
        #end if
    #end for
#else
    #set $interfaces = [ "intf0", "intf1", "intf2", "intf3", "intf4", "intf5", "intf6", "intf7" ]
    #set $defined_interfaces = [ "intf0" ]
#end if


### 
### now generate the onload function.
###

<script language="javascript">

function page_onload() {

    onLoadStuff(2);
    hideAllRows();
    #set counter = 0
    #for $interface in $all_interfaces
        #if $interface in $defined_interfaces
            toggleRowVisibility("id${counter}");
        #end if
        #set $counter = $counter+1
    #end for

}
</script>

<form method="post" action="$base_url/system_save">
<fieldset id="cform">
   
    #if $system
        <input type="hidden" name="new_or_edit" value="edit"/>
        <input type="hidden" name="oldname" value="$system.name"/>
    #else
        <input type="hidden" name="new_or_edit" value="new"/>
    #end if

    <legend>Edit a System</legend>

    ## FIXME: this ID doesn't make sense but it's there for the javascript
    <table border=0 id="channel-list">

    <tr id="id9000">
    <td>
    <label for="name">System Name</label>
    </td>
    <td>
    #if $system
    <input type="text" size="128" style="width: 150px;" name="name" id="name" disabled="true"
    #else
    <input type="text" size="128" style="width: 150px;" name="name" id="name"
    #end if
        #if $system
            value="$system.name"
        #end if
    />
    <p class="context-tip">Example: vanhalen</p>
    </td>
    </tr>

    #if $system
    <tr id="id9001">
    <td>
    <label for="mode">Edit Mode</label>
    </td>
    <td>
    <input type="radio" name="editmode" value="edit" checked onclick="javascript:disablename(true)">Edit
    <input type="radio" name="editmode" value="rename" onclick="javascript:disablename(false)">Rename + Edit
    <input type="radio" name="editmode" value="copy" onclick="javascript:disablename(false)">Copy + Edit
    <p class="context-tip">How do you want to modify this object?</p>
    </td>
    </tr>
    #end if

    <tr id="id9002">
    <td>
    <label for="profile">Profile</label>
    </td>
    <td>
    <select name="profile" id="profile">
        #for $profile in $profiles:
        <option name="$profile.name"
            #if $system and $system.profile == $profile.name
                    selected="1"
            #end if
        >$profile.name</option>
        #end for
    </select>
    <p class="context-tip">What profile should be installed on this system?</p>
    </td>
    </tr>

    <tr id="id9004">
    <td>
    <label for="kopts">Kernel Options</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 150px;" name="kopts" id="kopts"
        #if $system
            value="$system.kernel_options"
        #end if
    /> 
    <p class="context-tip">Example: noipv6 magic=foo</p>
    </td>
    </tr>

    <tr id="id9005">
    <td>
    <label for="ksmeta">Kickstart Metadata</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 150px;" name="ksmeta" id="ksmeta"
        #if $system
            value="$system.ks_meta"
        #end if
    />
    <p class="context-tip">Example: dog=fido gnome=yes</p>
    </td>
    </tr>

    <tr id="id9006">
    <td>
    <label for="netboot">Netboot Enabled</label>
    </td>
    <td>
    <input type="checkbox" name="netboot" id="netboot"
    #if not $system or $system.netboot_enabled is True
        checked="True"
    #end if
    >
    <p class="context-tip">Deselect to keep this system from PXE booting</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="server_override">Server Override</label>
    </td>
    <td>
    <input type="text" size="128" style="width: 150px;" name="server_override" id="server_override"
        #if $system
           value="$system.server" 
        #end if
    />
    <p class="context-tip">Use this server for kickstarts, not the value in settings.  Usually this should be left alone.</p>
    </td>
    </tr>


    ## ====================================== start of looping through interfaces

    #set $counter = -1
    #for $interface in $all_interfaces
        #set $counter = $counter+1        

        ## ----------------------------------
        ## load up initial variable values
        ## ----------------------------------

        #if $system and $interface in $defined_interfaces
            #set $macaddress  = $system.interfaces[$interface]["mac_address"]
            #set $ipaddress   = $system.interfaces[$interface]["ip_address"]
            #set $hostname    = $system.interfaces[$interface]["hostname"]
            #set $dhcptag     = $system.interfaces[$interface]["dhcp_tag"]
            #set $virtbridge  = $system.interfaces[$interface]["virt_bridge"]
            #set $subnet      = $system.interfaces[$interface]["subnet"]
            #set $gateway     = $system.interfaces[$interface]["gateway"]
        #else
            #set $macaddress  = ""
            #set $ipaddress   = ""
            #set $hostname    = ""
            #set $dhcptag     = ""
            #set $virtbridge  = ""
            #set $subnet      = ""
            #set $gateway     = ""
        #end if

        ## ----------------------------------------
        ## render the toggle link to hide the interfaces not yet defined
        ## ----------------------------------------

        <tr class="listrow" id="1000${counter}">
        <td>
        <hr width="100%"/>
        </td>
        <td>
        <hr width="100%"/>
        </td>
        </tr>

##
##<td><a onclick="toggleRowVisibility('id263');" style="cursor: pointer;"><img name="id263-image" src="/img/list-expand.gif" alt=""/></a><a href="/network/software/channels/details.pxt?cid=263">Red Hat Enterprise Linux (v. 5 for 32-bit x86)</a></td>
##

        <tr class="listrow" id="id${counter}">
        <td>
        Interface $interface.replace("intf","")
        </td>
        <td>
        <a onclick="toggleRowVisibility('id${counter}');" style="cursor: pointer;"><img name="id${counter}-image" src="/cobbler/webui/list-expand.png" alt=""/></A>
        </td>
        </tr>
        
        ## ----------------------------------------
        ## now show all of the interface fields which may or may not
        ## be hidden but are always there
        ## ----------------------------------------

        <tr class="listrow" id="child-id${counter}-0">
        <td>
        <label for="macaddress-$interface">MAC</label>
        </td>
        <td>
        <input type="text" size="64" style="width: 150px;" name="macaddress-$interface" id="macaddress-$interface"
               value="$macaddress"
        />

        ## #if not $system
        ##     <a href="javascript: get_random_mac()" style="font-size: 0.8em;">random</a>   
        ## #end if

        <p class="context-tip">Example: AA:BB:CC:DD:EE:FF</p>
        </td>
        </tr>

        <tr class="listrow" id="child-id${counter}-1">
        <td>
        <label for="ipaddress-$interface">IP</label>
        </td>
        <td>
        <input type="text" size="64" style="width: 150px;" name="ipaddress-$interface" id="ipaddress-$interface"
                value="$ipaddress"
        />
        <p class="context-tip">Example: 192.168.10.15</p>
        </td>
        </tr>

        <tr class="listrow" id="child-id${counter}-3">
        <td>
        <label for="hostname-$interface">Hostname</label>
        </td>
        <td>
        <input type="text" size="255" style="width: 150px;" name="hostname-$interface" id="hostname-$interface"
                value="$hostname"
        />
        <p class="context-tip">Example: vanhalen.example.org</p>
        </td>
        </tr>

        <tr class="listrow" id="child-id${counter}-4">
        <td>
        <label for="dhcptag-$interface">DHCP Tag</label>
        </td>
        <td>
        <input type="text" size="128" style="width: 150px;" name="dhcptag-$interface" id="dhcptag-$interface"
               value="$dhcptag"
        />
        <p class="context-tip">Selects alternative subnets, see manpage or leave blank</p>
        </td>
        </tr>

        ## FIXME: add virt_bridge editing (like above)

        <tr class="listrow" id="child-id${counter}-5">
        <td>
        <label for="virtbridge-$interface">Virt Bridge</label>
        </td>
        <td>
        <input type="text" size="20" style="width: 150px;" name="virtbridge-$interface" id="virtbridge-$interface"
                value="$virtbridge"
        />
        <p class="context-tip">Example: 'xenbr0' or 'virbr0'.  Can be blank if set in profile or settings.</p>
        </td>
        </tr>

        ## FIXME: add subnet editing (like above)

        <tr class="listrow" id="child-id${counter}-6">
        <td>
        <label for="subnet-$interface">Subnet</label>
        </td>
        <td>
        <input type="text" size="64" style="width: 150px;" name="subnet-$interface" id="subnet-$interface"
                value="$subnet"
        />
        <p class="context-tip">Ex: "255.255.255.0".  For use in kickstart templates for static IPs.</p>
        </td>
        </tr>

        ## FIXME: add gateway editing (like above)

        <tr class="listrow" id="child-id${counter}-7">
        <td>
        <label for="gateway-$interface">Gateway</label>
        </td>
        <td>
        <input type="text" size="64" style="width: 150px;" name="gateway-$interface" id="gateway-$interface"
                value="$gateway"
        />
        <p class="context-tip">Ex: "192.168.1.11".  For use in kickstart templates for static IPs.</p>
        </td>
        </tr>

        #if $interface != "intf0"
            <tr class="listrow" id="child-id${counter}-8">
            <td>
            <label for="enabled-$interface">Remove</label>
            </td>
            <td>
            <input type="button" name="delete-$interface" value="remove" onclick="delete_interface($counter)">
            <p class="context-tip">Clicking this button removes the interface from the configuration.</p>
            </td>
            </tr>
        #end if


        ## FIXME: make the save function understand the new fieldname-$interface variables
        ##        only enable an interface for saving if one of it's fields is non-empty
        ## FIXME: delete checkboxes and accompanying API method.  No delete for intf0.

    #end for
    ## ====================================== end of looping through interfaces

    <tr class="listrow" id="id10000">
    <td>
    <hr width="95%"/>
    </td>
    <td>
    <hr width="95%"/>
    </td>
    </tr>

    #if $system
    <tr id="id10001">
    <td>
    <label for="delete">Delete</label>
    </td>
    <td>
       <input type="checkbox" name="delete1" value="delete1">Yes
       <input type="checkbox" name="delete2" value="delete2">Really
    <p class="context-tip">Check both buttons and click save to delete this object</p>
    </td>
    </tr>
    #end if

    <tr id="9008">
    <td>
    </td>
    <td>
    <input type="submit" name="submit" value="Save"/>
    <input type="reset" name="reset" value="Reset"/>
    </td>
    </tr>

    </table>

</fieldset>
</form>

#end block body
