menuentry "local" --class gnu-linux --class gnu --class os {
  if search --no-floppy --file /efi/boot/fallback.efi --set ; then
    if [ -f /efi/opensuse/shim.efi ] ; then
      chainloader /efi/opensuse/grub.efi
    elif [ -f /efi/sles/shim.efi ] ; then
      chainloader /efi/sles/grub.efi
      elif [ -f /EFI/redhat/grub.efi ]; then
      chainloader /EFI/redhat/grub.efi
    elif [ -f /EFI/redhat/grubx64.efi ]; then
      chainloader /EFI/redhat/grubx64.efi
    elif [ -f /EFI/centos/grub.efi ]; then
      chainloader /EFI/centos/grub.efi
    elif [ -f /EFI/centos/grubx64.efi ]; then
      chainloader /EFI/centos/grubx64.efi
    fi
    boot
  else
    # ToDo: We have to know all possible local default grub.efi loaders
    search -s root -n -f /efi/boot/bootx64.efi
    set prefix=(${root})/efi/opensuse
    chainloader ${prefix}/grub.efi
    boot # if it doesn't exist, go on
    set prefix=(${root})/efi/sles
    chainloader ${prefix}/grub.efi
    boot
    set prefix=(${root})/efi/grub
    chainloader ${prefix}/grub.efi
    boot
    chainloader ${prefix}/bootx64.efi
    boot # if it doesn't exist, leave grub and enter shell
    exit
  fi
}
