{#- https://cloudinit.readthedocs.io/en/latest/reference/modules.html#zypper-add-repo -#}
{%- if cloud_init_zypper is defined and (cloud_init_zypper.config or cloud_init_zypper.repos) %}
zypper:
  {%- if cloud_init_zypper.repos %}
  repos:
    {{ cloud_init_zypper.repos|toyaml|indent(4, False) }}
  {%- endif %}
  {%- if cloud_init_zypper.config %}
  config:
    {{ cloud_init_zypper.config|toyaml|indent(4, False) }}
  {%- endif %}
{%- endif %}