{#- https://cloudinit.readthedocs.io/en/latest/reference/modules.html#yum-add-repo -#}
{%- if cloud_init_yum_add_repo is defined %}
{%- if cloud_init_yum_add_repo.yum_repo_dir is defined %}
yum_repo_dir: {{ cloud_init_yum_add_repo.yum_repo_dir }}
{%- endif %}
{%- if cloud_init_yum_add_repo.yum_repos is defined and cloud_init_yum_add_repo.yum_repos|length > 0 %}
yum_repos:
  {%- for name, r in cloud_init_yum_add_repo.yum_repos.items() %}
  {{ name }}:
    {%- if r.baseurl is defined %}
    baseurl: {{ r.baseurl }}
    {%- endif %}
    {%- if r.metalink is defined %}
    metalink: {{ r.metalink }}
    {%- endif %}
    {%- if r.mirrorlist is defined %}
    mirrorlist: {{ r.mirrorlist }}
    {%- endif %}
    {%- if r.name is defined %}
    name: {{ r.name }}
    {%- endif %}
    {%- if r.enabled is defined %}
    enabled: {{ r.enabled|lower }}
    {%- endif %}
    {%- for k, v in r.items() if k not in ["baseurl", "metalink", "mirrorlist", "name", "enabled"] %}
    {%- if v is boolean %}
    {{ k }}: {{ v|lower }}
    {%- else %}
    {{ k }}: {{ v }}
    {%- endif %}
    {%- endfor %}
  {%- endfor %}
{%- endif %}
{%- endif %}