{#- https://cloudinit.readthedocs.io/en/latest/reference/network-config.html -#}
{#- https://cloudinit.readthedocs.io/en/latest/reference/network-config-format-v1.html -#}
network:
  version: 1
  config: {}