{#- https://cloudinit.readthedocs.io/en/latest/reference/modules.html#set-passwords -#}
{%- if cloud_init_set_passwords is defined %}
  {%- if cloud_init_set_passwords.ssh_pwauth is defined %}
ssh_pwauth: {{ cloud_init_set_passwords.ssh_pwauth|lower }}
  {%- endif %}
  {%- if cloud_init_set_passwords.chpasswd %}
chpasswd:
    {%- if not cloud_init_set_passwords.chpasswd.expire %}
  expire: false
    {%- endif %}
    {%- if cloud_init_set_passwords.chpasswd.users is defined and cloud_init_set_passwords.chpasswd.users|length > 0 %}
  users:
      {%- for user in cloud_init_set_passwords.chpasswd.users %}
  - name: "{{ user.name }}"
        {%- if user.password %}
    password: "{{ user.password }}"
        {%- endif %}
        {%- if user.type %}
    type: "{{ user.type }}"
        {%- endif %} 
      {%- endfor %}
    {%- endif %}
  {%- endif %}  
{%- endif %}