# Start preseed_late_default
# This script runs in the chroot /target by default
$SNIPPET('built-in-post_install_network_config_deb')
$SNIPPET('built-in-late_apt_repo_config')
$SNIPPET('built-in-post_run_deb')
$SNIPPET('built-in-download_config_files')
$SNIPPET('built-in-autoinstall_done')
# End preseed_late_default
