{#- https://agama-project.github.io/docs/user/reference/profile/zfcp -#}
{#- Cobbler Agama Snippets shall be 4 spaces indented and should not contain a final comma -#}
{%- if agama_zfcp is defined -%}
    "zfcp": {
        "devices": [
    {% for device in agama_zfcp %}
            {
                "channel": "{{ device["channel"] }}",
                "wwpn": "{{ device["wwpn"] }}",
                "lun": "{{ device["lun"] }}"
            }
    {% endfor %}
        ]
    }
{%- endif -%}