{% extends 'master.tmpl' %}
{% block content %}
<h1>Cobbler Templates</h1>
<hr />
<!-- This is kind weird, but force the name "autoinst"
because we know this is the aifile page. If this gets moved
to generic_list, then it can be hacked around -->
<ul id="submenubar">
  <li><a class="action" href="/cobbler_web/{{ what }}/edit">Create new automatic installation template</a><li>
</ul>
<table id="listitems" cellspacing="0">
  <thead>
    <tr>
      <th></th>
      <th>File</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
{% for autoinstall_file,option in ai_files %}
    <tr class="{% cycle 'rowodd' 'roweven' %}">
      <td></td>
      <td>{{ autoinstall_file }}</td>
  {% if option %}
      <td>
    {% ifequal option "editable" %}<span class="action" onClick="window.location='/cobbler_web/aifile/edit/file:{{ autoinstall_file }}'">Edit</span> {% endifequal %}
      </td>
  {% endif %}
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock content %}
