{% extends 'master.tmpl' %}
{% block content %}

{% if not editable %}
<blockquote>
  NOTE: You do not have permission to make changes to this
  automatic installation template and can only read it.  It is possible
  that other Cobbler users has secured permissions on Cobbler
  profiles/systems that depend on this template -- changing this
  template would ultimately affect those profile/system records which
  you do not have access to.  Alternatively, you may not have access
  to edit *any* automatic installation templates.  Contact your Cobbler
  server administrator if you need to resolve this.
</blockquote>
<br />
{% else %}
<h1>{% ifequal editmode 'edit' %}Editing{% else %}Adding{% endifequal %} a Template</h1>
<hr />
<form id="aiform" method="post" action="/cobbler_web/aifile/save">
  {% csrf_token %}
  <ol>
    <li>
<label for="aidata">{% if aifile_name %}Editing: {{ aifile_name }}{% else %}Filename:{% endif %}</label>
  {% ifnotequal editmode 'edit' %}
      <input type="text" name="aifile_name" id="aifile_name" />
      <span class="context-tip">Example:  foo.ks (to be saved in /var/lib/cobbler/autoinstall_templates/)</span>
  {% else %}
      <input type="hidden" name="aifile_name" value="{{ aifile_name }}" />
  {% endifnotequal %}
    </li>
    <li>
      <pre><textarea name="aidata" id="aidata">{{ aidata }}</textarea></pre>
    </li>
  {% if deleteable %}
    <li>
      <input type="checkbox" name="delete1" value="delete1" />
      <label class="delete" for="delete1">Delete</label>
      <br>
      <input type="checkbox" name="delete2" value="delete2" />
      <label class="delete" for="delete2">Really?</label>
      <span class="context-tip">Check both buttons and click save to delete this object</span>
    </li>
  {% else %}
    {% ifequal editmode "edit" %}
    <li>
      <span class="warn">NOTE: This automatic installation template is currently in-use.</span>
    </li>
    {% endifequal %}
  {% endif %}
  {% if editable %}
    <li>
      <input type="hidden" name="editmode" value="{{ editmode }}" />
      <input class="button" type="submit" name="submit" value="Save" />
      <input class="button" type="reset" name="reset" value="Reset" />
    </li>
  {% endif %}
  </ol>
</form>
{% endif %}
{% endblock content %}
