#extends cobbler.webui.master

#block body
#if $getVar('more_blank','') == ''
You are now logged in to <A HREF="https://cobbler.github.io/">Cobbler</A>.

Main screen turn on.
#else
Cobbler awaits your command.
<!-- for great justice -->
#end if
#end block body
