#set $myowners = ", ".join($owners)

<blockquote>
WARNING:  You do not have permission to make changes to this 
object. To receive access, contact your Cobbler server administrator.
</br>

#if $owners != []
The access control list for this object is: <B><U>$myowners</U></B>.
#end if
</blockquote>

