{% extends 'master.tmpl' %}
{% block content %}

<h1>{{ eventid }} : {{ eventname }} :: {{ eventstate }}</h1>
<hr />
<pre>
<textarea readonly rows="40" cols="120" name="eventlog" id="eventlog">
{{ eventlog }}
</textarea>
</pre>
<br />
<a href="javascript:location.reload(true)">Refresh log</a>

{% endblock content %}
