{% extends 'master.tmpl' %}
{% block content %}

<h1>{{ eventid }} : {{ eventname }} :: {{ eventstate }}</h1>
<hr />

<textarea rows="40" class="form-control" name="eventlog" id="eventlog" disabled="">
{{ eventlog }}
</textarea>
<br />

<a class="btn btn-primary" href="javascript:location.reload(true)">Refresh log</a>
{% endblock content %}
