<footer style="background: rgba(0, 0, 0, 0.85) none repeat scroll 0% 0%; padding-top: 20px;">
  <div class="container">
    <div class="row sections">
      <div class="col-xs-9 footmenu">
       <div class="row">
        <div class="col-xs-3 sitemap">
         <ul class="list-group">
          <li class="nav-header list-group-item">Pages</li>
          <li class="list-group-item"><a href="http://cobbler.github.io/">Home</a></li>
          <li class="list-group-item"><a href="http://cobbler.github.io/posts/">Blog Posts</a></li>
          <li class="list-group-item"><a href="http://cobbler.github.io/about.html">About Cobbler</a></li>
         </ul>
        </div>
        <div class="col-xs-3 sitemap">
         <ul class="list-group">
          <li class="list-group-item nav-header">Manuals</li>
          <li class="list-group-item"><a href="http://cobbler.github.io/manuals/quickstart/">Quickstart</a></li>
          <li class="list-group-item"><a href="http://cobbler.github.io/manuals/2.6.0/">2.6.x</a></li>
          <li class="list-group-item" class="list-group-item"><a href="http://cobbler.github.io/manuals/2.4.0/">2.4.x</a></li>
          <li class="list-group-item"><a href="http://cobbler.github.io/manuals/developer/">Developer</a></li>
         </ul>
        </div>
        <div class="col-xs-3 sitemap">
         <ul class="list-group">
          <li class="list-group-item nav-header">Community</li>
          <li class="list-group-item"><a href="http://cobbler.github.io/community.html">How to Get Help</a></li>
          <li class="list-group-item"><a href="http://cobbler.github.io/supporters.html">Supporters</a></li>
          <li class="list-group-item"><a href="http://cobbler.github.io/users.html">Who's Using Cobbler</a></li>
         </ul>
        </div>
        <div class="col-xs-3 sitemap">
         <ul class="list-group">
          <li class="list-group-item nav-header">Github</li>
          <li class="list-group-item"><a href="https://github.com/cobbler/cobbler">Code Repository</a></li>
          <li class="list-group-item" class="list-group-item"><a href="https://github.com/cobbler/cobbler/issues">Issue Tracker</a></li>
          <li class="list-group-item"><a href="https://github.com/cobbler/cobbler/wiki">Wiki</a></li>
         </ul>
        </div>
       </div>
    <div class="row">
    </div>
<!--     <div class="row">
     <p class="ending">Best viewed in anything but Internet Explorer™ Seriously, please consider switching.</p>
     <p class="browsers">
      <a href="https://www.mozilla.org/en-US/firefox/new/"><i class="icon-firefox icon-2x"></i></a>
      <a href="https://www.google.com/intl/en/chrome/browser/"><i class="icon-chrome icon-2x"></i></a>
      <a href="http://www.opera.com/"><i class="icon-opera icon-2x"></i></a>
      <a href="http://www.apple.com/safari/"><i class="icon-safari icon-2x"></i></a>
     </p>
    </div> -->
    </div>
    <!--   <div class="col-xs-3 posts">
        <p class="column_header">Recent Posts:</p>

        <div class="post">
          <p class="title"><a href="http://cobbler.github.io/posts/2015/09/30/cobbler_2.6.10_released.html">Cobbler 2.6.10 Released</a></p>
          <p class="author">Posted by Jörgen on Wednesday, September 30, 2015</p>
        </div>

        <div class="post">
          <p class="title"><a href="http://cobbler.github.io/posts/2015/06/12/cobbler_2.6.9_released.html">Cobbler 2.6.9 Released</a></p>
          <p class="author">Posted by Jörgen on Friday, June 12, 2015</p>
        </div>

        <div class="post">
          <p class="title"><a href="http://cobbler.github.io/posts/2015/06/12/cobbler_2.4.9_released.html">Cobbler 2.4.9 Released</a></p>
          <p class="author">Posted by Jörgen on Friday, June 12, 2015</p>
        </div>

        <div class="post">
          <p class="title"><a href="http://cobbler.github.io/posts/2015/05/06/cobbler_2.6.8_released.html">Cobbler 2.6.8 Released</a></p>
          <p class="author">Posted by Jörgen on Wednesday, May 06, 2015</p>
        </div>

      </div> -->
      <div class="col-xs-3 credits">
        <div class="social">
          <iframe data-screen-name="cobblerista" src="http://platform.twitter.com/widgets/follow_button.c633b87376883931e7436b93bb46a699.en.html#_=1452472356586&amp;dnt=true&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=cobblerista&amp;show_count=false&amp;show_screen_name=true&amp;size=l" title="Twitter Follow Button" style="position: static; visibility: visible; width: 158px; height: 28px;" class="twitter-follow-button twitter-follow-button-rendered" allowtransparency="true" scrolling="no" id="twitter-widget-0" frameborder="0"></iframe>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="attributions">
        </div>
        <div class="copyright">
        </div>
      </div>            
    </div>
  </div>
</footer>