#extends cobbler.webui.master

#block body
<table class="sortable">
  <thead>
    <tr>
      <caption>$caption</caption>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
        #set $evenodd = 1
        #for $key,$value in $item_data.items():

            #if $evenodd % 2 == 0
                #set $tr_class = "roweven"
            #else
                #set $tr_class = "rowodd"
            #end if
            #set $evenodd += 1

    <tr class="$tr_class">
      <td>$key</td>
      <td>
            #if isinstance($value,dict):
         <ul style="list-style-type: none; margin: 0; padding: 0;">
                #for $skey,$sval in $value.items():
           <li>$skey = $sval</li>
                #end for
         </ul>
            #else
                $value
            #end if
      </td>
    </tr>
        #end for
  </tbody>
</table>
#end block body
