<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}Cobbler Web Interface{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

	<link href="https://bootswatch.com/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/cobbler_webui_content/jquery-ui.css" type="text/css" />
	<link rel="stylesheet" href="/cobbler_webui_content/stick.css" type="text/css" />
<!--   <link rel="stylesheet" type="text/css" media="all" href="/cobbler_webui_content/style.css" /> -->
	<link rel="stylesheet" type="text/css" media="all" href="/cobbler_webui_content/jsGrowl.css" />

	<script src="/cobbler_webui_content/jquery.min.js"></script>
	<script src="/cobbler_webui_content/jquery-ui.min.js"></script>
	<script src="/cobbler_webui_content/jsGrowl.js" type="text/javascript"></script> 
	<script src="/cobbler_webui_content/jsGrowl_jquery.js" type="text/javascript"></script> 
	<script src="/cobbler_webui_content/cobbler.js" type="text/javascript"></script> 
	<link rel="icon" type="image/png" href="/cobbler_webui_content/favicon.png" />
</head>
<body onload="go_go_gadget()">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/cobbler_web/" style="padding-top: 5px;">
					<img style="height: 35px;" src="/cobbler_webui_content/logo-cobbler.png" />
				</a>
			</div>
			<input type="hidden" name="username" id="username" value="{{ username }}" />
			<p class="navbar-text navbar-right">Logged in: <b>{{ username }}</b> <a class="action" href="javascript:menuaction('/cobbler_web/logout');">Logout</a></p>
		</div>
	</nav>

	<div class="row">
		<div id="menubar" class="col-xs-3">
			<form id="menuaction" method="POST" action="">{% csrf_token %}</form>
			<script type="text/javascript">
				function menuaction(action) {
					document.forms["menuaction"].action = action
					document.forms["menuaction"].submit();
				}
			</script>
			<h4>Configuration</h4>
			<ul class="nav nav-pills nav-stacked">
				<li><a href="/cobbler_web/distro/list" class="edit">Distros</a></li>
				<li><a href="/cobbler_web/profile/list" class="edit">Profiles</a></li>
				<li><a href="/cobbler_web/system/list" class="edit">Systems</a></li>
				<li><a href="/cobbler_web/repo/list" class="edit">Repos</a></li>
				<li><a href="/cobbler_web/image/list" class="edit">Images</a></li>
				<li><a href="/cobbler_web/ksfile/list" class="edit">Kickstart Templates</a></li>
				<li><a href="/cobbler_web/snippet/list" class="edit">Snippets</a></li>
				<li><a href="/cobbler_web/mgmtclass/list" class="edit">Management Classes</a></li>
				<li><a href="/cobbler_web/setting/list" class="menu">Settings</a></li>
			</ul>
		  
			<h4>Resources</h4>
			<ul class="nav nav-pills nav-stacked">
				<li><a href="/cobbler_web/package/list" class="edit">Packages</a></li>
				<li><a href="/cobbler_web/file/list" class="edit">Files</a></li>
			</ul>

			<h4>Actions</h4>
			<ul class="nav nav-pills nav-stacked">
				<li><a href="/cobbler_web/import/prompt">Import DVD</a></li>
				<li><a href="javascript:menuaction('/cobbler_web/sync');">Sync <span class="glyphicon glyphicon-refresh"></span></a></li>
				<li><a href="javascript:menuaction('/cobbler_web/reposync');">Reposync  <span class="glyphicon glyphicon-refresh"></span></a></li>
				<li><a href="javascript:menuaction('/cobbler_web/hardlink');">Hardlink  <span class="glyphicon glyphicon-refresh"></span></a></li>
				<!-- <li><a href="javascript:menuaction('/cobbler_web/replicate');"">Replicate</a> ☼ </li> -->
				<li><a href="javascript:menuaction('/cobbler_web/buildiso');">Build ISO  <span class="glyphicon glyphicon-refresh"></span></a></li>
			</ul>

			<h4>Cobbler</h4>
			<ul class="nav nav-pills nav-stacked">
				<li><a href="/cobbler_web/check" class="menu">Check</a></li>
				<li><a href="/cobbler_web/events" class="menu">Events</a></li>
				<li><a href="http://cobbler.github.io/manuals/2.6.0/">Online Documentation</a></li>
				<li><a href="http://webchat.freenode.net?channels=#cobbler">Online Help Chat</a></li>
			</ul>
		</div>
		
		<div id="content" class="col-xs-9">
			{% block content %}
				<h1 class="error">Template Failure</h1>
			{% endblock %}
		</div> <!-- content -->
			
		<div id="spacer">&nbsp</div>
	</div> <!-- body -->

	<footer class="footer">
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/cobbler_web/" style="padding-top: 5px;">
						<img style="height: 41px;" src="/cobbler_webui_content/logo-cobbler.png" />
					</a>
				</div>
				<input type="hidden" name="username" id="username" value="{{ username }}" />
				<p class="navbar-text navbar-right">Logged in: <b>{{ username }}</b> <a class="action" href="javascript:menuaction('/cobbler_web/logout');">Logout</a></p>
			</div>
		</nav>
	</footer>		
	<div id="jsGrowl"></div>
</body>
</html>
