{% if pageinfo %}
<script type="text/javascript">
// All of these functions depend on the form "action" defined in generic_list
function change_limit(value) {
    document.forms["action"].action = '/cobbler_web/{{ what }}/modifylist/limit/' + value
    document.forms["action"].submit();
}
function change_page(value) {
    document.forms["action"].action = '/cobbler_web/{{ what }}/modifylist/page/' + value
    document.forms["action"].submit();
}
</script>

<li class="paginate"><label for="limit">Items/page:</label>
  <select name="limit" id="limit" onchange="javascript:change_limit(this.value)">
  {% for p in pageinfo.items_per_page_list %}
    <option value="{{ p }}"{% ifequal pageinfo.items_per_page p %} selected="selected"{% endifequal %}>{{ p }}</option>
  {% endfor %}
  </select>
  {% ifnotequal pageinfo.prev_page "~" %}
  <a href="javascript:change_page('{{ pageinfo.prev_page }}')"><span class="lpointers">&lArr;</span></a>
  {% else %}
  <span class="lpointers">&lArr;</span>
  {% endifnotequal %}
  <select name="page" id="page" onchange="javascript:change_page(this.value)">
    {% for p in pageinfo.pages %}<option value="{{ p }}"{% ifequal pageinfo.page p %} selected="selected"{% endifequal %}>Page {{ p }}</option>{% endfor %}
  </select>
  {% ifnotequal pageinfo.next_page "~" %}
  <a href="javascript:change_page('{{ pageinfo.next_page }}')"><span class="rpointers">&rArr;</span></a>
  {% else %}
  <span class="rpointers">&rArr;</span>
  {% endifnotequal %}
</li>
{% endif %}
