{% extends 'master.tmpl' %}
{% block content %}

{% if not editable %}
  <blockquote>
    NOTE: You do not have permission to make changes to this
    snippet and can only read it.  

    Contact your Cobbler server administrator
    if you need to resolve this.
  </blockquote>

  <br />
{% endif %}
<h1>{% ifequal editmode 'edit' %}Editing{% else %}Adding{% endifequal %} a Snippet</h1>
<hr />
<form id="snippetform" method="post" action="/cobbler_web/snippet/save">
  {% csrf_token %}
  <div class="form-group">
    <label for="snippetdata">{% if snippet_name %}Snippet: {{ snippet_name }}{% else %}Filename:{% endif %}</label>
    {% ifnotequal editmode 'edit' %}
      <input class="form-control" type="text" name="snippet_name" id="snippet_name" />
      <span class="context-tip">Example:  foo.ks (to be saved in /var/lib/cobbler/snippets/)</span>
    {% else %}
      <input type="hidden" name="snippet_name" value="{{ snippet_name }}" />
    {% endifnotequal %}
    
    <textarea class="form-control" name="snippetdata" id="snippetdata" rows="10">{{ snippetdata }}</textarea>
  </div>
  
  {% if deleteable %}
    <div class="checkbox">
      <label>
        <input type="checkbox" name="delete1" value="delete1" />
          Delete
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="delete2" value="delete2" />
          Really?
      </label>
    </div>
    <span class="help-block">Check both buttons and click save to delete this object</span>
  {% else %}
    {% ifequal editmode "edit" %}
        <p class="text-danger">NOTE: This kickstart template is currently in-use.</p>
    {% endifequal %}
  {% endif %}

  {% if editable %}
    <div class="btn-toolbar">
      <input type="hidden" name="editmode" value="{{ editmode }}" />
      <input class="btn btn-primary" type="submit" name="submit" value="Save" />
      <input class="btn btn-primary" type="reset" name="reset" value="Reset" />
    </div>
  {% endif %}
  
</form>
{% endblock content %}
