{#- https://docs.xenserver.com/en-us/xenserver/8/install/advanced-install.html#answer-file-reference -#}
<?xml version="1.0"?>
    <installation srtype="ext">
        <primary-disk>sda</primary-disk>
        <guest-disk>sdb</guest-disk>
        <guest-disk>sdc</guest-disk>
        <keymap>us</keymap>
        <root-password type="hash">{{ default_password_crypted }}</root-password>
        <source type="url">http://pxehost.example.com/xenserver/</source>
        <script stage="filesystem-populated" type="url">
          http://pxehost.example.com/myscripts/post-install-script
        </script>
        <admin-interface name="eth0" proto="dhcp" />
        <timezone>Europe/London</timezone>
    </installation>
