.ui-tabs-hide { display: none; }

fieldset#cform label {
    display: block;
    width: 150px;
    margin-bottom: 10px;
    float: left;
    padding-right: 4em;
}

fieldset#cform {
    width: 98%;
}

textarea#ksdata {
    width: 100%;
    height: 100%;
}

select#repos {
    width: 256px;
    height: 8em;
}

pre.config_data {
    font-family: monospace;
    background: white;
    color: black;
    width: 640px;
    min-height: 480px;
}

br {
    clear: both;
}

tr.rowodd  { background-color: #212121; }
tr.roweven { background-color: #3f3d3d; }

table.sortable th {
    background-color: #363a4e;
    margin: 0;
}

table.sortable caption {
    background-color: #202331;
    margin: 0;
}

td.nicedit { background-color: #444444; }


