Source: cobbler
Section: unknown
Priority: extra
Maintainer: Jasper Capel <jasper@newnewyork.nl>
Depends: python, apache2, libapache2-mod-python
Build-Depends: debhelper (>= 7), python-cheetah
Standards-Version: 3.8.0
Homepage: https://fedoraproject.org/cobbler

Package: cobbler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Install server
 Cobbler is a network install server.  Cobbler
 supports PXE, virtualized installs, and
 reinstalling existing Linux machines.  The last two
 modes use a helper tool, 'koan', that
 integrates with cobbler.  Cobbler's advanced features
 include importing distributions from DVDs and rsync
 mirrors, kickstart templating, integrated yum
 mirroring, and built-in DHCP/DNS Management.  Cobbler has
 a Python and XMLRPC API for integration with other
 applications.  There is also a web interface.

