#!/usr/bin/make -f
# -*- makefile -*-

export DH_OPTIONS

# Verbose mode
#export DH_VERBOSE=1

%:
	dh $@ --with python3

override_dh_auto_build:
	python3 setup.py build build_cfg --install-scripts=/usr/bin --install-data=/usr --install-lib=/usr/lib

override_dh_auto_clean:
	dh_auto_clean
	rm -f docs/*.gz

override_dh_auto_test:
	nosetests cobbler/*.py || true

override_dh_auto_install:
	python3 setup.py install -f --optimize=1 --install-layout=deb --root=$(CURDIR)/debian/tmp --prefix=/usr/

override_dh_install:
	dh_install

