[Unit]
Description=Cobbler Helper Daemon
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/cobblerd -F
PrivateTmp=yes
KillMode=process

[Install]
WantedBy=multi-user.target

