{% extends "master.tmpl" %}

{% block content %}

{% include 'paginate.tmpl' %}

<h4>About</h4>

<p>
This is the web configuration interface for a <A HREF="http://fedorahosted.org/cobbler">Cobbler</A> Server.  Cobbler is an automated net install and update server for Linux operating systems.  
</p>

<p>
The Cobbler WebUI is designed for simplifying day-to-day usage of the Cobbler deployment server.  It performs
<i>most</i> but not <i>all</i> of the functions the command line tool "cobbler" or the API can perform.  If you have
not already done so, you may be interested to read more about Cobbler at <A HREF="http://fedorahosted.org/cobbler">fedorahosted.org/cobbler</A>.  The cobbler manpage is also suggested reading.</p>

<p>
Your Cobbler server administrator may have set cobbler up to allow access to only certain objects for certain user accounts.  In the event of this, you will see messages in the interface that indicate when you do not have permissions to perform certain actions.  Contact your Cobbler server administrator to resolve these items or to learn more if you have questions.
</p>

<br/>
<br/>

{% endblock %}


