{% extends "master.tmpl" %}

{% block content %}

<span class="section_caption">Distributions</A>

<table class="sortable">
    <thead>
        <tr>
            <th class="text">Name</th>
            <th class="text">Breed</th>
            <th class="text">Arch</th>
        </tr>
    </thead>
    <tbody>
        {% if distros %}
        {% for distro in distros %}
        <tr class="{% cycle 'rowodd' 'roweven' %}">
            <td>
                <a href="/cobbler_web/distro/edit/{{ distro.name }}">{{ distro.name }}</a>
            </td>
            <td>{{ distro.breed }}</td>
            <td>{{ distro.arch }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="3">No distros found.</td>
        </tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}
