{% extends "master.tmpl" %}

{% block content %}

<script language="Javascript" src="/cobbler_webui_content/checkboxes.js" ></script>
<script language="Javascript">
</script>

<div class="section_caption">{{ what }}s</div>

<form name="myform" method="post" action="/cobbler_web/{{ what }}/action">
    <table class="sortable">
    <thead>
        <tr>
	    <th class="text"><input type="checkbox" id="itemsall" onclick="javascript:items_check_all();"></th>
            {% for column_name in columns %}
                <th class="text">{{ column_name }}</th>
            {% endfor %}

            <th class="text">actions</th>

        </tr>
    </thead>
    <tbody>
           {% for item in items %}

           <tr class="{% cycle 'rowodd' 'roweven' %}">
               <td><input type="checkbox" name="items" value="{{ row.name }}"/></td>

               {% for value in item %}
                    <td>
                        {{ value }}
                    </td>
               {% endfor %}

               <td><input type="button" name="edit" value="Edit" onClick="javascript:location='/cobbler_web/{{ what }}/edit'"></td>

           </tr>

       {% endfor %}


    </tbody>
    </table>
</form>

{% if multi_actions %}
    <br/>
    Operations on selected {{ what }}s:
    <br/>
    {% for action in multi_actions %}
        <input type="button" onClick="javascript:action_multi('{{ action.name }}')" value="{{ action.label }}"/>
    {% endfor %}
{% endif %}

{% endblock content %}


