{% extends "master.tmpl" %}
{% block content %}

<div class="section_caption">{% ifequal editmode 'edit'  %}Editing{% else %}Adding{% endifequal %} a {{ what|capfirst }}</div>

<form method="POST" action="/cobbler_web/{{ what }}/save">

<fieldset id="cform">

    <input type="hidden" name="editmode" value="{{ editmode }}"/>

    <table border=0>

    {% for item in fields %}

        <tr>

            <td>{{ item.name }}</td>

            <td>
            {% ifequal item.html_element "text" %}
            <input type="text" name="{{ item.name }}" value="{{ item.value }}" class="{{ item.css_class }}"/>
            {% endifequal %}

            {% ifequal item.html_element "textarea" %}
            <input type="text" name="{{ item.name }}" rows="4" cols="40" class="{{ item.css_class }}">{{ item.value }}</text>
            {% endifequal %}

            {% ifequal item.html_element "radio" %}
            <input type="radio" name="{{ item.name }}" value="{{ choice }}">{{ choice }}&nbsp;
            {% endifequal %}

            {% ifequal item.html_element "checkbox" %}
            Checkbox
            {% endifequal %}

            {% ifequal item.html_element "select" %}
            Select
            {% endifequal %}

            {% ifequal item.html_element "multiselect" %}
            Multi-Select
            {% endifequal %}

            <p class="context-tip">{{ item.tooltip }}</p>
            </td>

        </tr>

    {% endfor %}

    {% if editable %}
    <tr>
    <td>
    </td>
    <td>
    <input type="submit" name="submit" onClick="on_form_submit();" value="Save"/>
    <input type="reset" name="reset" value="Reset"/>
    </td>
    </tr>
    {% endif %}

</table>
</fieldset>
</form>
{% endblock content %}
