{% extends 'master.tmpl' %}
{% block content %}

<span class="section_caption">Images</span>

<table class="sortable">

    <thead>
        <tr>
            <th class="text">Name</th>
            <th class="text">File</th>
        </tr>
    </thead>
    <tbody>
        {% if images %}
        {% for image in images %}
        <tr class="{% cycle 'rowodd' 'roweven' %}">
            <td><a href="/cobbler_web/image/edit/{{ image.name }}">{{ image.name }}</a></td>
            <td>{{ image.file }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr><td colspan="2">No images found.</td></tr>
        {% endif %}
    </tbody>
</table>
{% endblock content %}
