<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}Cobbler Web Interface{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

    <link rel="stylesheet" type="text/css" media="all" href="/cobbler_webui_content/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/cobbler_webui_content/cobblerweb.css" />

<script language="Javascript" src="/cobbler_webui_content/cobbler.js" ></script>

</head>


<body onload="if (window.page_onload) { page_onload(); }">

<div id="wrap">
        <a href="/cobbler_web/">
            <img alt="Cobbler Logo"
                 src="/cobbler_webui_content/logo-cobbler.png"/>
        </a>
</div>

<div id="main">

<div id="sidebar">

    <span class="nav_label">General:</span>
    <div id="nav_misc">
    <table>
    <tr>
        <td><a href="/cobbler_web/about" class="menu">Docs</a></td>
        <td/>
    </tr>
    <tr>
        <td><a href="/cobbler_web/settings" class="menu">Settings</a></td>
        <td/>
    </tr>
    </table>
    </div>

    <br/>

    <span class="nav_label">Objects:</span>
    <div id="nav_object">
    <table>
    <tr>
        <td><a href="/cobbler_web/distro/list" class="edit">Distros</a></td>
        <td><a href="/cobbler_web/distro/edit">[+]</A>
    </tr>
    <tr>
        <td><a href="/cobbler_web/profile/list" class="edit">Profiles</a></td>
        <td><a href="/cobbler_web/profile/edit">[+]</A>
    </tr>
    <tr>
        <td><a href="/cobbler_web/system/list" class="edit">Systems</a></td>
        <td><a href="/cobbler_web/system/edit">[+]</A>
    </tr>
    <tr>
        <td><a href="/cobbler_web/repo/list" class="edit">Repos</a></td>
        <td><a href="/cobbler_web/repo/edit">[+]</A>
    </tr>
    <tr>
        <td><a href="/cobbler_web/image/list" class="edit">Images</a></td>
        <td><a href="/cobbler_web/image/edit">[+]</A>
    </tr>
    <tr>
        <td><a href="/cobbler_web/ksfile/list" class="edit">Templates</a></td>
        <td><a href="/cobbler_web/ksfile/edit">[+]</A>
    </tr>
    </table>
    </div>

    <br/>

    <span class="nav_label">Actions:</span>
    <div id="nav_action">
    <table>
    <tr>
        <td><i><a href="/cobbler_web/sync">Sync</a></i>
    </tr>
    </table>
    </div>

{% include "paginate.tmpl" %}

</div>

<div id="content">
{% block content %}

    <h1 style="color: red;">Template Failure</h1>

{% endblock %}
</div><!-- content -->
</div><!-- main -->

</body>
</html>
