{% extends "master.tmpl" %}

{% block content %}

{% if network %}
<script language="javascript">
function disablename(value)
{
    document.getElementById("name").disabled=value;
    if (value) {
        document.getElementById("name").value = "{{ network.name }}";
    }
}
</script>
{% endif %}

{% if network %}
    <div class="section_caption">Editing a Network</div>
{% else %}
    <div class="section_caption">Adding a Network</div>
{% endif %}


<form method="post" action="/cobbler_web/network/save">
<fieldset id="cform">

<!--
       cobbler network add -name=string -distro=string [-kickstart=url]
       [-kopts=string] [-kopts_post=string] [-ksmeta=string] [-virt-file-size=gigabytes]
       [-virt-ram=megabytes] [-virt-type=string] [-virt-path=string]
-->

    {% if network %}
        <input type="hidden" name="new_or_edit" value="edit"/>
        <input type="hidden" name="oldname" value="{{ network.name }}"/>
    {% else %}
        <input type="hidden" name="new_or_edit" value="new"/>
    {% endif %}

    <table border=0>

    <tr>
    <td>
    <label for="name">Network Name</label>
    </td>
    <td>
    {% if network %}
    <input type="text" size="128" style="width: 150px;" name="name" id="name" disabled="true" value="{{ network.name }}" />
    {% else %}
    <input type="text" size="128" style="width: 150px;" name="name" id="name" />
    {% endif %}
    <p class="context-tip">Example:  VLAN001</p>
    </td>
    </tr>

    {% if network %}
    <tr>
    <td>
    <label for="mode">Edit Mode</label>
    </td>
    <td>
    <input type="radio" name="editmode" value="edit" checked onclick="javascript:disablename(true)">Edit
    <input type="radio" name="editmode" value="rename" onclick="javascript:disablename(false)">Rename + Edit
    <input type="radio" name="editmode" value="copy" onclick="javascript:disablename(false)">Copy + Edit
    <p class="context-tip">How do you want to modify this object?</p>
    </td>
    </tr>
    {% else %}
    <input type="hidden" name="editmode" value="new"/>
    {% endif %}

    {% if network %}
    <tr>
    <td>
    <label>Created</label>
    </td>
    <td>
    {# $time.ctime($network.ctime) #}
    {{ network.ctime }}
    </td>
    </tr>

    <tr>
    <td>
    <label>Last Modified</label>
    </td>
    <td>
    {# $time.ctime($network.mtime) #}
    {{ network.mtime }}
    </td>
    </tr>
    {% endif %}

    <tr>
    <td>
    <label for="comment">Comment</label>
    </td>
    <td>
    <textarea rows="5" cols="30" 400px;" name="comment" id="comment">{% if network %}{{ network.comment }}{% endif %}</textarea>
    <p class="context-tip">This is a free-form description field</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="cidr">CIDR Address</label>
    </td>
    <td>
    <input type="text" size="50" style="width: 100px;" name="cidr" id="cidr" {% if network %}value="{{ network.cidr }}"{% endif %}/>
    <p class="context-tip">Example: 192.168.1.0/24 (REQUIRED)</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="address">Network Address</label>
    </td>
    <td>
    <input type="text" size="50" style="width: 100px;" name="address" id="address" {% if network %}value="{{ network.address }}"{% endif %}/>
    <p class="context-tip">Example: 192.168.1.0</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="gateway">Gateway</label>
    </td>
    <td>
    <input type="text" size="50" style="width: 100px;" name="gateway" id="gateway" {% if network %}value="{{ network.gateway }}"{% endif %}/>
    <p class="context-tip">The default gateway of the network</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="broadcast">Broadcast Address</label>
    </td>
    <td>
    <input type="text" size="50" style="width: 100px;" name="broadcast" id="broadcast" {% if network %}value="{{ network.broadcast }}"{% endif %}/>
    <p class="context-tip">Optional, will be calcualted unless overridden</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="nameservers">Name Servers</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="name_servers" id="name_servers" {% if network %}value="{{ network.name_servers|join:" " }}"{% endif %}/>
    <p class="context-tip">Name servers, space delimited, if not provided by DHCP</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="owners">Access Allowed For</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="owners" id="owners"{% if network %}value="{{ network.owners|join:" " }}"{% else %}value="{{ user }}"{% endif %}/>
    <p class="context-tip">Applies only if using authz_ownership module, space-delimited</p>
    </td>
    </tr>

    {% if network and editable %}
    <tr>
    <td>
    <label for="delete">Delete</label>
    </td>
    <td>
       <input type="checkbox" name="delete1" value="True">Yes
       <input type="checkbox" name="delete2" value="True">Really
       <input type="checkbox" name="recursive" value="True">Delete child objects?
    <p class="context-tip">Check both buttons and click save to delete this object</p>
    </td>
    </tr>
    {% endif %}

    {% if editable %}
    <tr>
    <td>
    </td>
    <td>
    <input type="submit" name="submit" value="Save"/>
    <input type="reset" name="reset" value="Reset"/>
    </td>
    </tr>
    {% endif %}

</fieldset>
{% endblock content %}
