{% extends "master.tmpl" %}

{% block content %}

<span class="section_caption">Profiles</span>

<table class="sortable">
    <thead>
        <tr>
            <th class="text">Name</th>
            <th class="text">Parent</th>
            <th class="text">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if profiles %}
           {% for profile in profiles %}
           <tr class="{% cycle 'rowodd' 'roweven' %}">
               <td>
                   <a href="/cobbler_web/profile/edit/{{ profile.name }}">{{ profile.name }}</a>
               </td>
               <td>
               {% ifnotequal profile.distro "<<inherit>>" %}
               <a href="/cobbler_web/distro/edit/{{ profile.distro }}">{{ profile.distro }}</a>
               {% else %}
               <a href="/cobbler_web/profile/edit/{{ profile.parent }}">{{ profile.parent }}</a>
               {% endifnotequal %}
               </td>
               <td>
                      <input type="button" value="preview ks" onclick='javascript:location="/cblr/svc/op/ks/profile/{{ profile.name }}"'>
               </td>
           </tr>
           {% endfor %}
        {% else %}
           <tr><td colspan="3">No profiles found.</td></tr>
        {% endif %}
    </tbody>
</table>
{% endblock content %}
