{% extends "master.tmpl" %}

{% block content %}
<form name="myform" method="post" action="/cobbler_web/system/profile/domulti">
    <table class="sortable">
    <thead>
        <caption>Change profile of the following systems</caption>
        <tr>
            <th class="text">Name</th>
            <th class="text">Current Profile</th>
        </tr>
    </thead>
    <tbody>
        {% for system in systems %}
        <tr class="{% cycle 'rowodd' 'roweven' %}">
            <td>{{ system.name }}</td> 
            <td>{{ system.profile }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <p>
    <select name="profile" id="profile">
        <option value=""> -- select -- </option>
        {% for profile in profiles %}
        <option value="{{ profile.name }}">{{ profile.name }}</option>
        {% endfor %}
    </select>
    </p>

    <input type="hidden" name="items" value="{{ items|join:" " }}" />
    <input type="submit" name="change" value="Change profile"/>
    <input type="button" name="cancel" onclick="javascript:history.go(-1)" value="Cancel"/>
</form>
{% endblock content %}
