{% extends "master.tmpl" %}

{% block content %}

<form name="myform" method="post" action="/cobbler_web/system/power/domulti">
    <table class="sortable">
    <thead>
        <caption>Control power of the following systems</caption>
        <tr>
            <th class="text">Name</th>
            <th class="text">Power Type</th>
            <th class="text">Power Address</th>
        </tr>
    </thead>
    <tbody>
        {% for system in systems %}
        <tr class="{% cycle 'rowodd' 'roweven' %}">
            <td>{{ system.name }}</td>
            <td>{{ system.power_type }}</td>
            <td>{{ system.power_address }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <p>
    <input type="radio" name="power" value="reboot">Reboot</input>
    <input type="radio" name="power" value="on">Power On</input>
    <input type="radio" name="power" value="off">Power Off</input>
    </p>

    <input type="hidden" name="items" value="{{ items|join:" " }}" />
    <input type="submit" name="submit" value="Submit"/>
    <input type="button" name="cancel" onclick="javascript:history.go(-1)" value="Cancel"/>
</form>
{% endblock content %}
