#set $system_local=False
#if $varExists('system_name')
#if not $netboot_enabled
#set $system_local=True
totaltimeout 0
#else
timeout 1
#end if
prompt 0
default $menu_name
ontimeout $menu_name
#end if
#if not ($arch in ["ppc", "ppc64"] and $system_local)
LABEL $menu_name
	MENU LABEL $menu_label
#if $system_local
	localboot -1
#else
	kernel $kernel_path
#if $breed != "windows"
#if $breed == "vmware"
	append -c $bootcfg_path
#else
	$append_line
#end if
	ipappend 2
#end if
#end if
#end if
