#if $varExists('system_name')
set system="$system_name"
set timeout=1
#if $netboot_enabled
set default='$menu_name'
#else
set default='local'
#end if
#end if
menuentry '$menu_name' --class gnu-linux --class gnu --class os {
  echo 'Loading kernel ...'
  clinux $kernel_path $kernel_options
  echo 'Loading initial ramdisk ...'
  cinitrd $initrd_path
  echo '...done'
}
