#!ipxe

set menu-timeout 20000
set submenu-timeout \${menu-timeout}

# Set Menu Default to Exit after timeout
isset \${menu-default} || set menu-default $pxe_timeout_profile

:Cobbler
menu Cobbler | https://cobbler.github.io
item local (local)
$pxe_menu_items
:local
iseq ${smbios/manufacturer} HP && exit ||
sanboot --no-describe --drive 0x80


