#if $breed != "windows"
default linux
prompt 0
timeout 1
label linux
        kernel $kernel_path
        ipappend 2
        $append_line
#else
default windows
prompt 0
timeout 1
label windows
#if "wimboot" in $kernel_path
        kernel linux.c32
#set $append_line = "append " + $kernel_path
#for $init in $initrd
#set $append_line += " initrdfile=" + $init
#end for
        $append_line
#else
        kernel $kernel_path
#end if
#end if
