{% extends 'master.tmpl' %}
{% block content %}

<div class="section_caption">Repos</div>

<table class="sortable">
    <thead>
        <tr>
            <th class="text">Name</th>
            <th class="text">Mirror</th>
        </tr>
    </thead>
    <tbody>
        {% if repos %}
        {% for repo in repos %}
        <tr class="{% cycle 'rowodd' 'roweven' %}">
            <td><a href="/cobbler_web/repo/edit/{{ repo.name }}">{{ repo.name }}</a></td>
            <td>{{ repo.mirror }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr><td colspan="2">No repos found.</td></tr>
        {% endif %}
    </tbody>
</table>
{% endblock content %}
