#extends cobbler.webui.master
#attr $title = "Cobbler: Error"

#block body
<h1 style="color: red;">Error</h1>

<p color="blue">$message</p>

<a href="javascript: history.go(-1)">Go Back</a>

#end block body
