{% extends 'master.tmpl' %}
{% block content %}
<table class="sortable">
    <thead>
        <caption>Cobbler Kickstart Templates</caption>
        <tr>
            <th class="text">File</th>
            <th class="text">Edit/View</th>
        </tr>
    </thead>
    <tbody>
        {% for ksfile,option in ksfiles %}
        <tr class="{% cycle 'rowodd' 'roweven' %}">
            <td>{{ ksfile }}</td>
            {% if option %}
            {% ifequal option "editable" %}<td><a href="/cobbler_web/ksfile/edit/{{ ksfile }}">edit</a></td>{% endifequal %}
            {% ifequal option "viewable" %}<td><a href="{{ ksfile }}">view</a></td>{% endifequal %}
            {% else %}
            <td>N/A</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
