<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}Cobbler Web Interface{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

    <link rel="stylesheet" type="text/css" media="all" href="/cobbler/webui/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/cobbler/webui/cobblerweb.css" />

<script language="Javascript" src="/cobbler/webui/cobbler.js" ></script>

</head>


<body onload="if (window.page_onload) { page_onload(); }">

<div id="wrap">
        <a href="/django/">
            <img alt="Cobbler Logo"
                 src="/cobbler/webui/logo-cobbler.png"/>
        </a>
</div>

<div id="main">

<div id="sidebar">
    <ul id="nav">
        <li><a href="/cobbler/webui/wui.html" class="menu">Docs</a></li>
        <li><a href="/django/settings_view" class="menu">Settings</a></li>
        <li><hr/></li>
        <li><a class="menu">Distros</span></li>
    	    <ul id="navaction">
                <li><a href="/django/distro/list" class="menu">List</a></li>
        	<li><a href="/django/distro/search" class="menu">Search</a></li>
        	<li><a href="/django/distro/edit" class="menu">Add</a></li>
	    </ul>
        <li><a class="menu">Profiles</span></li>
    	    <ul id="navaction">
                <li><a href="/django/profile/list" class="menu">List</a></li>
        	<li><a href="/django/profile/search" class="menu">Search</a></li>
        	<li><a href="/django/profile/edit" class="menu">Add</a></li>
    		<li><a href="/django/subprofile/edit" class="menu">Add child</a></li>
	    </ul>
        <li><a class="menu">Systems</span></li>
    	    <ul id="navaction">
                <li><a href="/django/system/list" class="menu">List</a></li>
        	<li><a href="/django/system/search" class="menu">Search</a></li>
    		<li><a href="/django/system/edit" class="menu">Add</a></li>
	    </ul>
        <li><a class="menu">Repos</span></li>
    	    <ul id="navaction">
                <li><a href="/django/repo/list" class="menu">List</a></li>
        	<li><a href="/django/repo/search" class="menu">Search</a></li>
	        <li><a href="/django/repo/edit" class="menu">Add</a></li>
	    </ul>
        <li><a class="menu">Images</span></li>
    	    <ul id="navaction">
                <li><a href="/django/image/list" class="menu">List</a></li>
        	<li><a href="/django/image/search" class="menu">Search</a></li>
	        <li><a href="/django/image/edit" class="menu">Add</a></li>
	    </ul>
        <li><a class="menu">Kickstarts</span></li>
    	    <ul id="navaction">
                <li><a href="/django/ksfile/list" class="menu">List</a></li>
	        <li><a href="/django/ksfile/edit" class="menu">Add</a></li>
	    </ul>
        <li><hr/><br/></li>
        <li><a class="button sync" href="/django/sync">Sync</a></li>
    </ul>
</div>

<div id="content">
{% block content %}

    <h1 style="color: red;">Template Failure</h1>

{% endblock %}
</div><!-- content -->
</div><!-- main -->

</body>
</html>
