<script language="Javascript" src="/cobbler/webui/paginate.js"></script>

<p>
{% if prev_page %}<a href="/cobbler_web/{{ what }}/list/{{ prev_page }}">&lt;</a>{% else %}&lt;{% endif %}
<select name="page" id="page" onchange="javascript:page_navigate('{{ what }}',this.value);">
{% for p in pages %}<option value="{{ p }}"{% ifequal page p %} selected{% endifequal %}>Page {{ p }}</option>{% endfor %}
</select>
{% if next_page %}<a href="/cobbler_web/{{ what }}/list/{{ next_page }}">&gt;</a>{% else %}&gt;{% endif %}
</p>
