{% if pageinfo %}
<p>
{% ifnotequal pageinfo.prev_page "~" %}<a href="/cobbler_web/{{ what }}/list/page/{{ pageinfo.prev_page }}">&lt;</a>{% else %}&lt;{% endifnotequal %}
<select name="page" id="page" onchange="javascript:location='/cobbler_web/{{ what }}/list/page/'+this.value">
{% for p in pageinfo.pages %}
  <option value="{{ p }}"{% ifequal pageinfo.page p %} selected{% endifequal %}>Page {{ p }}</option>
{% endfor %}
</select>
{% ifnotequal pageinfo.next_page "~" %}<a href="/cobbler_web/{{ what }}/list/page/{{ pageinfo.next_page }}">&gt;</a>{% else %}&gt;{% endifnotequal %}
</p>
{% endif %}
