{% extends "master.tmpl" %}

{% block content %}
<form name="myform" method="post" action="/cobbler_web/system/delete/domulti">
    <table class="sortable">
    <thead>
        <caption>Confirm deleting the following systems</caption>
        <tr>
            <th class="text">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for system in systems %}
        <tr class="{% cycle 'rowodd' 'roweven' %}">
            <td>{{ system.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    </p>
    
    <input type="hidden" name="items" value="{{ items|join:" " }}" />
    <input type="submit" name="delete" value="Delete Systems"/>
    <input type="button" name="cancel" onclick="javascript:history.go(-1)" value="Cancel"/>
</form>
{% endblock content %}
