{% extends "master.tmpl" %}

{% block content %}
<script language="Javascript">
function submit_rename() {
   document.myform.action = "/cobbler_web/system/rename/{{ system }}/" + document.getElementById("newname").value;
   document.myform.submit();
}
</script>

<form name="myform" method="post" action="">
    <table class="sortable">
    <thead>
        <caption>Rename the following system</caption>
        <tr>
            <th class="text">Name</th>
        </tr>
    </thead>
    <tbody>
        <tr class="even">
            <td>
                {{ system }}
            </td>
        </tr>
    </tbody>
    </table>

    <p>
    New name: <input type="text" size="128" style="width: 150px;" name="newname" id="newname" value="" />
    </p>
    
    <input type="button" name="rename" onclick="javascript:submit_rename()" value="Rename System"/>
    <input type="button" name="cancel" onclick="javascript:history.go(-1)" value="Cancel"/>
</form>
{% endblock content %}
