{% extends "master.tmpl" %}

{% block content %}

<script language="Javascript" src="/cobbler_webui/checkboxes.js" ></script>
<script language="Javascript">
function action_selected(actionname)
{
    var itemcount=items_checked_count();
    if (
        (itemcount == 0) &&
        (
         (actionname == "delete") ||
         (actionname == "netboot") ||
         (actionname == "profile") ||
         (actionname == "power")
        )
       )
    {
	alert("Select the systems to " + actionname+" first");
	return;
    }
    else if (
             (itemcount != 1) &&
             (
              (actionname == "copy") ||
              (actionname == "rename")
             )
            )
    {
	alert("Select only one system to " + actionname);
	return;
    }

    document.myform.action = "/cobbler_web/system/"+actionname+"/multi";
    document.myform.submit();
}

function action_single(actionname,target)
{
    document.myform.action = "/cobbler_web/system/"+actionname+"/"+target;
    document.myform.submit();
}
</script>

{% include 'paginate.tmpl' %}

<form name="myform" method="post" action="/cobbler_web/system/action">
    <table class="sortable">
    <thead>
        <caption>Cobbler Systems</caption>
        <tr>
	    <th class="text"><input type="checkbox" id="itemsall" onclick="javascript:items_check_all();"></th>
            <th class="text"><a href="{{ baseurl }}/sort/name">Name</a></th>
            <th class="text"><a href="{{ baseurl }}/sort/netboot_enabled">Netboot</a></th>
            <th class="text"><a href="{{ baseurl }}/sort/profile">Profile</a></th>
            <th class="text">Kickstart</th>
            <th class="text" colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        {% if systems %}
           {% for system in systems %}
           <tr class="{% cycle 'rowodd' 'roweven' %}">
               <td><input type="checkbox" name="items" value="{{ system.name }}"/></td>
               <td><a href="/cobbler_web/system/edit/{{ system.name }}">{{ system.name }}</a></td>
               <td>{% if system.netboot_enabled %}Yes{% else %}No{% endif %}</td>
               <td><a href="/cobbler_web/profile/edit/{{ system.profile }}">{{ system.profile }}</a></td>
               <td>
                   {% if system.web_kickstart or system.nfs_kickstart %}
                      {% if system.web_kickstart %}
                      <a href="{{ system.web_kickstart }}">{{ system.web_kickstart }}</a>
                      {% else %}
                      {{ system.nfs_kickstart }}
                      {% endif %}
                   {% else %}
                      <a href="/cblr/svc/op/ks/system/{{ system.name }}">(view rendered)</a>&nbsp;
                      {% ifnotequal system.kickstart "<<inherit>>" %}
                      <a href="/cobbler_web/ksfile/edit/{{ system.kickstart }}">(edit template)</a>
                      {% endifnotequal %}
                   {% endif %}
               </td>
               <td><input type="button" name="edit" onClick="javascript:action_single('edit','{{ system.name }}')" value="Edit"/></td>
               <td><input type="button" name="rename" onClick="javascript:action_single('rename','{{ system.name }}')" value="Rename"/></td>
               <td><input type="button" name="copy" onClick="javascript:action_single('copy','{{ system.name }}')" value="Copy"/></td>
           </tr>
           {% endfor %}
        {% else %}
           <tr><td colspan="8">No systems found.</td></tr>
        {% endif %}
    </tbody>
    </table>
</form>

    <br/>
    Operations on selected systems:
    <br/>
    <input type="button" name="delete" onClick="javascript:action_selected('delete')" value="Delete"/>
    <input type="button" name="netboot" onClick="javascript:action_selected('netboot')" value="Change Netboot"/>
    <input type="button" name="profile" onClick="javascript:action_selected('profile')" value="Change Profile"/>
    <input type="button" name="power" onClick="javascript:action_selected('power')" value="Power control"/>

{% endblock content %}
