{% extends "master.tmpl" %}

{% block content %}
<script language="Javascript">
function submit_netboot(value)
{
    document.getElementById("netboot").value=value;
    document.myform.submit();
}
</script>

<form name="myform" method="post" action="/cobbler_web/system/netboot/domulti">
    <input type="hidden" name="targetlist" id="targetlist" value="$targetlist"/>
    <input type="hidden" name="netboot" id="netboot" value="0"/>

    <table class="sortable">
    <thead>
        <caption>Change netboot of the following systems</caption>
        <tr>
            <th class="text">Name</th>
            <th class="text">Current Netboot</th>
        </tr>
    </thead>
    <tbody>
        #set $evenodd = 1
        #for $system in $systems
        #if $evenodd % 2 == 0
            #set $tr_class = "roweven"
        #else
            #set $tr_class = "rowodd"
        #end if
        #set $evenodd += 1

        <tr class="$tr_class">
            <td>
                ${system.name}
            </td>

            <td>
                #if str($system.netboot_enabled) != "False"
                    Yes
                #else
                    No
    	        #end if
            </td>

        </tr>
        #end for
    </tbody>
    </table>

    </p>

    <input type="button" name="pxeenable" onclick="javascript:submit_netboot(1)" value="Enable Netboot"/>
    <input type="button" name="pxedisable" onclick="javascript:submit_netboot(0)" value="Disable Netboot"/>
    <input type="button" name="cancel" onclick="javascript:history.go(-1)" value="Cancel"/>
</form>
{% endblock content %}
