{% extends "master.tmpl" %}

{% block content %}

<script language="javascript">
{% if system %}
function disablename(value)
{
    document.getElementById("name").disabled=value;
    if (value) {
        document.getElementById("name").value = "{{ system.name }}";
    }
}
{% endif %}

function get_selected_virttype()
{
    var virttype_field = document.getElementsByName("virttype");
    for (var i=0; i < virttype_field.length; i++) {
        if (virttype_field[i].checked) {
            return virttype_field[i].value;
        }
    }

    return "";
}

function get_random_mac()
{
    xmlHttp = new XMLHttpRequest();

    var request_str = "/cobbler_web/random_mac";
    var virttype = get_selected_virttype();
    if (virttype != "" && virttype != "<<inherit>>" && virttype != "auto") {
        request_str += "/virttype/" + virttype;
    }

    xmlHttp.open("GET", request_str, true);
    xmlHttp.onreadystatechange = function () {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            var mac_field = document.getElementById("macaddress")
            var result = xmlHttp.responseText;
            if (result.charAt(2) == ':' && result.charAt(5) == ':') {
                mac_field.value = result;
            }
        }
    };
    xmlHttp.send(null);
}

function intf_enable_field(field,enabled)
{
    if (enabled) {
        document.getElementById(field + "_row").style.display="table-row"
    } else {
        document.getElementById(field + "_row").style.display="none"
    }
}

function intf_update_visibility()
{
    is_slave=document.getElementById("bonding_is_slave").checked
    is_master=document.getElementById("bonding_is_master").checked
    is_static = document.getElementById("static_true").checked
 
    intf_enable_field("static",!is_slave)
    intf_enable_field("ipaddress",(!is_slave))
    intf_enable_field("subnet",(!is_slave) && is_static)
    intf_enable_field("dns_name",!is_slave)
    intf_enable_field("static_routes",!is_slave)
    intf_enable_field("dhcptag",!is_slave)
    intf_enable_field("virtbridge",!is_master)
    intf_enable_field("bondingopts",is_master)
    intf_enable_field("bondingmaster",is_slave)
}

function get_selected_interface()
{
   return document.getElementById("interfaces").value
}

function on_interface_change()
{
    // called when the user picks something new from the interface selector
    save_intf(last_interface)
    clear_intf()
    last_interface = get_selected_interface()
    load_intf()
}

function on_interface_add()
{
   // called when the user hits the "new interface" button

   var iname = document.getElementById("newinterfacename").value
   if ((iname == "") || (iname == " ")) {
      alert("invalid interface name")
      return
   }

   if (interface_table[iname] != null) {
      alert("interface already exists")
      return
   }

   if (interface_table[iname] == null) {
      interface_table[iname] = new Array()
   }

   interface_table[iname]["macaddress"] = ""
   interface_table[iname]["bonding"] = ""
   interface_table[iname]["bondingmaster"] = ""
   interface_table[iname]["bondingopts"] = ""
   interface_table[iname]["ipaddress"] = ""
   interface_table[iname]["dns_name"] = ""
   interface_table[iname]["static_routes"] = ""
   interface_table[iname]["dhcptag"] = ""
   interface_table[iname]["virtbridge"] = ""
   interface_table[iname]["subnet"] = ""
   interface_table[iname]["static"] = false
   interface_table[iname]["present"] = "1"
   interface_table[iname]["original"] = "0"

   var interfaces = document.getElementById("interfaces")
   ilen = interfaces.length
   var new_option = new Option(iname,iname)
   interfaces.options[ilen] = new_option
   interfaces.selectedIndex = ilen
   on_interface_change() // explicit firing required   

}

function on_interface_delete()
{
   selected = get_selected_interface()
   interfaces = document.getElementById("interfaces")

   if (interfaces.length == 1) {
      alert("systems must always have at least one interface")
      return
   } 
   
   clear_intf()
   for (i = interfaces.options.length - 1; i>=0; i--) {
     if (interfaces.options[i].value == selected) {
        interfaces.remove(i)
     }
   }
   interface_table[selected]["present"] = 0
   interfaces.selectedIndex = 0
   load_intf()
} 

function get_enabled_field(field,enabled)
{
    if (enabled) {
        return document.getElementById(field).value
    } else {
        return ""
    }
}

function save_intf(which) 
{
    // this populates the interface widget with the data for the currently selected interface
    // and is called when the user picks a certain interface from the drop-down

    iname = which
    var itable = interface_table[iname]
    if (itable == null) {
       interface_table[iname] = new Array()
       itable = interface_table[iname]
    }

    is_slave=document.getElementById("bonding_is_slave").checked
    is_master=document.getElementById("bonding_is_master").checked
    is_static=document.getElementById("static_true").checked

    itable["name"]       = iname
    itable["macaddress"] = document.getElementById("macaddress").value

    var bond = "na"
    if (document.getElementById("bonding_is_master").checked == true) {
       bond = "master"
    } else if (document.getElementById("bonding_is_slave").checked == true) {
       bond = "slave"
    }
    itable["bonding"]    = bond
    
    itable["bondingmaster"] = get_enabled_field("bondingmaster",is_slave)
    itable["bondingopts"]   = get_enabled_field("bondingopts",is_master)
    itable["static"]     = document.getElementById("static_true").checked
    itable["ipaddress"]  = get_enabled_field("ipaddress",(!is_slave))
    itable["subnet"]     = get_enabled_field("subnet",(!is_slave) && is_static)
    itable["dns_name"]   = get_enabled_field("dns_name",!is_slave)
    itable["static_routes"]   = get_enabled_field("static_routes",!is_slave)
    itable["dhcptag"]    = get_enabled_field("dhcptag",!is_slave)
    itable["virtbridge"] = get_enabled_field("virtbridge",!is_master)
    itable["present"]    = document.getElementById("present").value
    itable["original"]   = document.getElementById("original").value

}

function load_intf()
{
    // this populates the interface widget with the data for the currently selected interface
    // and is called when the user picks a certain interface from the drop-down
    intf = get_selected_interface()
    document.getElementById("macaddress").value    = interface_table[intf]["macaddress"]
    if (interface_table[intf]["bonding"] == "master") {
       document.getElementById("bonding_is_master").checked = true       
    } else if (interface_table[intf]["bonding"] == "slave") {
       document.getElementById("bonding_is_slave").checked = true       
    } else {
       document.getElementById("bonding_is_na").checked = true       
    }
    document.getElementById("bondingmaster").value = interface_table[intf]["bondingmaster"]
    document.getElementById("bondingopts").value   = interface_table[intf]["bondingopts"]
    if (interface_table[intf]["static"]) {
        document.getElementById("static_true").checked = true
    } else {
        document.getElementById("static_false").checked = true
    }
    document.getElementById("ipaddress").value     = interface_table[intf]["ipaddress"]
    document.getElementById("subnet").value        = interface_table[intf]["subnet"]
    document.getElementById("dns_name").value      = interface_table[intf]["dns_name"]
    document.getElementById("static_routes").value = interface_table[intf]["static_routes"]
    document.getElementById("dhcptag").value       = interface_table[intf]["dhcptag"]
    document.getElementById("virtbridge").value    = interface_table[intf]["virtbridge"]
    document.getElementById("present").value       = interface_table[intf]["present"]
    document.getElementById("original").value      = interface_table[intf]["original"]
    
    intf_update_visibility()
}

function clear_intf()
{
    // this clears the interface list and populates it with the currently selected interface data

    document.getElementById("macaddress").value    = ""
    document.getElementById("bonding_is_na").checked = true
    document.getElementById("bondingmaster").value = ""
    document.getElementById("bondingopts").value   = ""
    document.getElementById("static_false").checked = true
    document.getElementById("ipaddress").value     = ""
    document.getElementById("subnet").value        = ""
    document.getElementById("dns_name").value      = ""
    document.getElementById("static_routes").value = ""
    document.getElementById("dhcptag").value       = ""
    document.getElementById("virtbridge").value    = ""
    document.getElementById("present").value       = "1"
    document.getElementById("original").value      = "0"

}

function build_interface_table()
{
    // called during onload, this stores all of the interfaces from Cheetah in javascript
    // so that we can manipulate them dynamically in more interesting ways
    //alert("building interface table")
    interface_table = new Array()
    var last = ""
    {% if system %}
       var ifound = 0
       {% for key,value in system.interfaces.items %}
           interface_table['{{ key }}'] = new Array()
           interface_table['{{ key }}']["macaddress"] = "{{ value.mac_address }}"
           interface_table['{{ key }}']["bonding"] = "{{ value.bonding }}"
           interface_table['{{ key }}']["bondingmaster"] = "{{ value.bonding_master }}"
           interface_table['{{ key }}']["bondingopts"] = "{{ value.bonding_opts }}"
           {% if value.static %}interface_table['{{ key }}']["static"] = true{% else %}interface_table['{{ key }}']["static"] = false{% endif %}
           interface_table['{{ key }}']["ipaddress"] = "{{ value.ip_address }}"
           interface_table['{{ key }}']["subnet"] = "{{ value.subnet }}"
           interface_table['{{ key }}']["dns_name"] = "{{ value.dns_name }}"
           interface_table['{{ key }}']["static_routes"] = "{{ value.static_routes|join:" " }}"
           interface_table['{{ key }}']["dhcptag"] = "{{ value.dhcp_tag }}"
           interface_table['{{ key }}']["virtbridge"] = "{{ value.virt_bridge }}"
           interface_table['{{ key }}']["present"] = "1"
           interface_table['{{ key }}']["original"] = "1"
           last = "{{ key }}"
       {% endfor %}
    {% else %}
       interface_table["eth0"] = new Array()
       interface_table["eth0"]["macaddress"] = ""
       interface_table["eth0"]["bonding"] = ""
       interface_table["eth0"]["bondingmaster"] = ""
       interface_table["eth0"]["bondingopts"] = ""
       interface_table["eth0"]["static"] = ""
       interface_table["eth0"]["ipaddress"] = ""
       interface_table["eth0"]["subnet"] = ""
       interface_table["eth0"]["dns_name"] = ""
       interface_table["eth0"]["static_routes"] = ""
       interface_table["eth0"]["dhcptag"] = ""
       interface_table["eth0"]["virtbridge"] = ""
       interface_table["eth0"]["present"] = "1"
       interface_table["eth0"]["original"] = "0"
    {% endif %}
    return interface_table
}

function on_form_submit()
{
    // form submission handler
    save_intf(get_selected_interface())
    var listing = ""
    for (var iname in interface_table) {
        if (listing == "") {
            listing = iname
        } else {
            listing = iname + "," + listing
        }
        for (var ikey in interface_table[iname]) {
            var field_name = ikey + "-" + iname
            var current_value = interface_table[iname][ikey]
            var new_input=document.createElement('input')
            new_input.name=field_name
            new_input.value=current_value
            new_input.style.display='none'
            document.forms.myform.appendChild(new_input)

        }
    }
    document.getElementById("interface_list").value = listing
    document.getElementById("name").disabled= false
    document.myform.submit()
}

function page_onload() {
    interface_table = build_interface_table()
    last_interface = get_selected_interface()
    load_intf()
}
</script>



{% if editable %}
{% comment %}
#set global $owners = $system.owners
#include "/usr/share/cobbler/webui_templates/enoaccess.tmpl"
{% endcomment %}
{% endif %}

<form name="myform" id="myform" method="post" action="/cobbler_web/system/save">
<fieldset id="cform">

    <input name="interface_list" type="hidden" value="" id="interface_list"/>
    <input type="hidden" name="editmode" value="{{ editmode }}"/>
    
    <legend>{% ifequal editmode "new" %}Add a System{% else %}Edit a System{% endifequal %}</legend>
    
    <table border=0>

    <tr>
    <td>
    <label for="name">System Name</label>
    </td>
    <td>
    <input type="text" size="128" style="width: 150px;" name="name" id="name" {% ifequal editmode "edit" %} value="{{ system.name }}" disabled="true"{% endifequal %}/>
    <p class="context-tip">Example: vanhalen</p>
    </td>
    </tr>

    {% if system %}
    <tr>
    <td>
    <label>Created</label>
    </td>
    <td>
    {{ system.ctime }}
    </td>
    </tr>

    <tr>
    <td>
    <label>Last Modified</label>
    </td>
    <td>
    {{ system.mtime }}
    </td>
    </tr>
    {% endif %}

    <tr>
    <td>
    <label for="comment">Comment</label>
    </td>
    <td>
    <textarea rows="5" cols="30" style="width: 400px;" name="comment" id="comment">{% if system %}{{ system.comment }}{% endif %}</textarea>
    <p class="context-tip">This is a free-form description field</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="netboot">Netboot Enabled</label>
    </td>
    <td>
    <input type="checkbox" name="netboot_enabled" id="netboot_enabled" {% if system and system.netboot_enabled %}checked="true"{% endif %}/>
    <p class="context-tip">For PXE setups, select to boot the profile below for the system.<br/>De-select to boot the system from local disk.</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="profile">Profile</label>
    </td>
    <td>
    <select name="profile" id="profile">
        {% for profile in profiles %}
        <option name="{{ profile.name }}" {% if system %}{% ifequal system.profile profile.name %}selected="1"{% endifequal %}{% endif %}>{{ profile.name }}</option>
        {% endfor %}
    </select>
    <p class="context-tip">What profile should be installed on this system?</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="ksmeta">Kickstart Metadata</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="ksmeta" id="ksmeta" {% if system %}value="{{ system.ks_meta }}"{% endif %}/>
    <p class="context-tip">Example: dog=fido gnome=yes</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="kopts">Kernel Options</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="kopts" id="kopts" {% if system %}value="{{ system.kernel_options }}"{% endif %}/> 
    <p class="context-tip">Example: noipv6 magic=foo</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="koptspost">Post Kernel Options</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="kopts_post" id="kopts_post" {% if system %}value="{{ system.kernel_options_post }}"{% endif %}/> 
    <p class="context-tip">Example: clocksource=pit nosmp noapic nolapic</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="server_override">Server Override</label>
    </td>
    <td>
    <input type="text" size="128" style="width: 150px;" name="server" id="server" {% if system %}value="{{ system.server }}"{% else %} value="<<inherit>>"{% endif %} />
    <p class="context-tip">Use this server for kickstarts, not the value in settings.  Usually this should be left alone.</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="redhatmanagementkey">Management Key</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="redhat_management_key" id="redhat_management_key" {% if system %}value="{{ system.redhat_management_key }}"{% endif %}/>
    <p class="context-tip">Registration key for RHN, Satellite, or Spacewalk</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="redhatmanagementserver">Management Server</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="redhat_management_server" id="redhat_management_server" {% if system %}value="{{ system.redhat_management_server }}"{% endif %}/>
    <p class="context-tip">RHN, Satellite, or Spacewalk server</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="owners">Access Allowed For</label>
    </td>
    <td>
    <input type="text" size="255" style="width: 400px;" name="owners" id="owners" {% if system %}value="{{ system.owners|join:" " }}"{% else %}value="{{ user }}"{% endif %}/>
    <p class="context-tip">Applies only if using authz_ownership module, space delimited</p>
    </td>
    </tr>

    <tr id="hostname_row">
        <td class="netedit">
        <label for="hostname">Hostname</label>
        </td>
        <td class="netedit">
        <input type="text" size="64" style="width: 200px;" name="hostname" id="hostname" {% if system %}value="{{ system.hostname }}"{% endif %}/>
        <p class="context-tip">Ex: "vanhalen.example.org".  Used for /etc/sysconfig/network.</p>
        </td>
    </tr>

    <tr id="gateway_row">
        <td class="netedit">
        <label for="gateway">Gateway</label>
        </td>
        <td class="netedit">
        <input type="text" size="64" style="width: 150px;" name="gateway" id="gateway" {% if system %}value="{{ system.gateway }}"{% endif %}/>
        <p class="context-tip">Ex: "192.168.1.11".  For use with static IP configs.</p>
        </td>
    </tr>


    <tr>
    <td class="netedit">
    <label for="nameservers">Name Servers</label>
    </td>
    <td class="netedit">
    <input type="text" size="255" style="width: 400px;" name="name_servers" id="name_servers" {% if system %}value="{{ system.name_servers|join:" " }}"{% endif %}/>
    <p class="context-tip">Name servers, space delimited, if not provided by DHCP</p>
    </td>
    </tr>

    <tr>
    <td class="netedit">
    <label for="nameserverssearch">Name Servers Search Path</label>
    </td>
    <td class="netedit">
    <input type="text" size="255" style="width: 400px;" name="name_servers_search" id="name_servers_search" {% if system %}value="{{ system.name_servers_search|join:" " }}"{% endif %}/>
    <p class="context-tip">Name servers search path, space delimited, if not provided by DHCP</p>
    </td>
    </tr>

    <tr>
    <td class="netedit">
    <label for="mgmtclasses">Management Classes</label>
    </td>
    <td class="netedit">
    <input type="text" size="255" style="width: 400px;" name="mgmt_classes" id="mgmt_classes" {% if system %}value="{{ system.mgmt_classes|join:" " }}"{% endif %}/>
    <p class="context-tip">Management classes (space delimited) for use with external configuration management system.</p>
    </td>
    </tr>

    <tr>
    <td class="virtedit">
    <label for="virtfilesize">Virt Disk (GB)</label>
    </td>
    <td class="virtedit">
    <input type="text" size="5" style="width: 150px;" name="virt_file_size" id="virt_file_size" {% if system %}value="{{ system.virt_file_size }}"{% endif %}/>
    <p class="context-tip">For virtual installs only, require this disk size in GB.</p>
    </td>
    </tr>

    <tr>
    <td class="virtedit">
    <label for="virtram">Virt RAM (MB)</label>
    </td>
    <td class="virtedit">
    <input type="text" size="5" style="width: 150px;" name="virt_ram" id="virt_ram" {% if system %}value="{{ system.virt_ram }}"{% endif %}/>
    <p class="context-tip">For virtual installs only, allocate this amount of RAM, in MB.</p>
    </td>
    </tr>

    <tr>
    <td class="virtedit">
    <label for="virtautoboot">Virt AutoBoot</label>
    </td>
    <td class="virtedit">
    <input type="text" size="5" style="width: 150px;" name="virt_auto_boot" id="virt_auto_boot" {% if system %}value="{{ system.virt_auto_boot }}"{% endif %}/>
    <p class="context-tip">For virtual installs only, enable/disable VM autoboot.</p>
    </td>
    <tr>
    <td class="virtedit">
    <label for="virttype">Virt Type</label>
    </td>
    <td class="virtedit">
    {% for virt_type,virt_desc in available_virttypes %}<input type="radio" name="virt_type" id="virt_type" value="{{ virt_type }}"{% if system %}{% ifequal system.virt_type virt_type %} checked{% endifequal %}{% endif %}>{{ virt_desc }}</input>{% endfor %}
    <p class="context-tip">What virtualization technology should koan use?</p>
    </td>
    </tr>

    <tr>
    <td class="virtedit">
    <label for="virtpath">Virt Path</label>
    </td>
    <td class="virtedit">
    <input type="text" size="255" style="width: 400px;" name="virt_path" id="virt_path" {% if system %}value="{{ system.virt_path }}"{% else %}value="<<inherit>>"{% endif %}/>
    <p class="context-tip">Sets koan's storage preferences, read manpage or leave blank.</p>
    </td>
    </tr>

    <tr>
    <td class="virtedit">
    <label for="virtpath">Virt CPUs</label>
    </td>
    <td class="virtedit">
    <input type="text" size="255" style="width: 150px;" name="virt_cpus" id="virt_cpus" {% if system %}value="{{ system.virt_cpus }}"{% endif %}/>
    <p class="context-tip">How many virtual CPUs?  This is an integer.</p>
    </td>
    </tr>

    <tr>
    <td class="poweredit">
    <label for="power_type">Power Type</label>
    </td>
    <td class="poweredit">
    <select name="power_type" id="power_type">
    {% for power in available_power %}
        <option name="{{ power }}"{% if system %}{% ifequal system.power_type power %} selected="1"{% endifequal %}{% endif %}>{{ power }}</option>
    {% endfor %}
    </select>
    <p class="context-tip">Is a power management device attached?</p>
    </td>
    </tr>

    <tr>
    <td class="poweredit">
    <label for="power_address">Power Address</label>
    </td>
    <td class="poweredit">
    <input type="text" size="255" style="width: 150px;" name="power_address" id="power_address" {% if system %}value="{{ system.power_address }}"{% endif %}/>
    <p class="context-tip">Ex: hostname-mgmt.example.org</p>
    </td>
    </tr>

    <tr>
    <td class="poweredit">
    <label for="power_id">Power Id</label>
    </td>
    <td class="poweredit">
    <input type="text" size="255" style="width: 150px;" name="power_id" id="power_id" {% if system %}value="{{ system.power_id }}"{% endif %}/>
    <p class="context-tip">Plug number or blade name, if applicable.</p>
    </td>
    </tr>

    <tr>
    <td class="poweredit">
    <label for="power_user">Power User</label>
    </td>
    <td class="poweredit">
    <input type="text" size="255" style="width: 150px;" name="power_user" id="power_user" {% if system %}value="{{ system.power_user }}"{% endif %}/>
    <p class="context-tip">Power management username, if device requires one.</p>
    </td>
    </tr>

    <tr>
    <td class="poweredit">
    <label for="power_pass">Power Password</label>
    </td>
    <td class="poweredit">
    <input type="text" size="255" style="width: 150px;" name="power_pass" id="power_pass" {% if system %}value="{{ system.power_pass }}"{% endif %}/>
    <p class="context-tip">Power management password.</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="new-interface">Add Interface</label>
    </td>
    <td>
    <input name="newinterfacename" id="newinterfacename"/>&nbsp;&nbsp;
    <a href="javascript: on_interface_add()" style="font-size: 0.8em;">Add interface name</a>
    <p class="context-tip">Add an interface to the system, ex: eth1</p>
    </td>
    </tr>

    <tr>
    <td>
    <label for="interfaces">Interface</label>
    </td>
    <td>
    <select name="interfaces" id="interfaces" onchange="on_interface_change();">
    {% if system %}
        {% for key,value in system.interfaces.items %}
        <option name="{{ key }}" value="{{ key }}"{% ifequal key "eth0" %} selected="1"{% endifequal %}>{{ key }}</option>
        {% endfor %}
    {% else %}
        <option name="eth0" value="eth0" selected="1">eth0</option>
    {% endif %}
    </select>
    <p class="context-tip">Select what interface to edit below</p>
    </td>
    </tr>

    {# ====================================== start of interface section #}

        {% comment %}
        ## ----------------------------------------
        ## now show all of the interface fields which may or may not
        ## be hidden but are always there
        ## ----------------------------------------
        {% endcomment %}

        <tr id="macaddress_row">
        <td class="nicedit">
        <label for="macaddress">MAC</label>
        </td>
        <td class="nicedit">
        <input type="text" size="64" style="width: 150px;" name="macaddress" id="macaddress" />
        <a href="javascript: get_random_mac()" style="font-size: 0.8em;">Random MAC</a>   
        <p class="context-tip">Example: AA:BB:CC:DD:EE:FF</p>
        </td>
        </tr>

        <tr id="bonding_row">
        <td class="nicedit">
        <label for="bonding">Bonding</label>
        </td>
        <td class="nicedit">
        <input type="radio" id="bonding_is_na" name="bonding" value="na" checked onclick="javascript: intf_update_visibility();">No bonding
        <input type="radio" id="bonding_is_master" name="bonding" value="master" onclick="javascript: intf_update_visibility();">master
        <input type="radio" id="bonding_is_slave" name="bonding" value="slave"  onclick="javascript: intf_update_visibility();">slave
        <p class="context-tip">Use bonding? If enabled specify bonding mode to use</p>
        </td>
        </tr>

        <tr id="bondingmaster_row">
        <td class="nicedit">
        <label for="bondingmaster">Bonding master</label>
        </td>
        <td class="nicedit">
        <input type="text" size="64" style="width: 150px;" name="bondingmaster" id="bondingmaster" />
        <p class="context-tip">If bonding is "slave", specify the master interface here.</p>
        </td>
        </tr>

        <tr id="bondingopts_row">
        <td class="nicedit">
        <label for="bondingopts">Bonding options</label>
        </td>
        <td class="nicedit">
        <input type="text" size="64" style="width: 300px;" name="bondingopts" id="bondingopts" />
        <p class="context-tip">If bonding is "master", specify the bonding options here.</p>
        </td>
        </tr>

        <tr id="static_row">
        <td class="nicedit">
        <label for="static">IP assignment</label>
        </td>
        <td class="nicedit">
        <input type="radio" id="static_true" name="static" value="true" checked onclick="javascript: intf_update_visibility();">Static
        <input type="radio" id="static_false" name="static" value="false" onclick="javascript: intf_update_visibility();">DHCP
        <p class="context-tip">Is the IP address of the interface statically or by DHCP configured?</p>
        </td>
        </tr>

        <tr id="ipaddress_row">
        <td class="nicedit">
        <label for="ipaddress">IP</label>
        </td>
        <td class="nicedit">
        <input type="text" size="64" style="width: 150px;" name="ipaddress" id="ipaddress" />
        <p class="context-tip">Example: 192.168.10.15</p>
        </td>
        </tr>

        <tr id="subnet_row">
        <td class="nicedit">
        <label for="subnet">Subnet</label>
        </td>
        <td class="nicedit">
        <input type="text" size="64" style="width: 150px;" name="subnet" id="subnet" />
        <p class="context-tip">Ex: "255.255.255.0".  For use in kickstart templates for static IPs.</p>
        </td>
        </tr>

        <tr id="dns_name_row">
        <td class="nicedit">
        <label for="dns_name">DNS name</label>
        </td>
        <td class="nicedit">
        <input type="text" size="255" style="width: 300px;" name="dns_name" id="dns_name" />
        <p class="context-tip">Example: vanhalen.example.org, used by manage_dns feature</p>
        </td>
        </tr>

        <tr id="dhcptag_row">
        <td class="nicedit">
        <label for="dhcptag">DHCP Tag</label>
        </td>
        <td class="nicedit">
        <input type="text" size="128" style="width: 150px;" name="dhcptag" id="dhcptag" />
        <p class="context-tip">Selects alternative subnets, see manpage or leave blank</p>
        </td>
        </tr>

        <tr id="static_routes_row">
        <td class="nicedit">
        <label for="static_routes">Static Routes</label>
        </td>
        <td class="nicedit">
        <input type="text" size="128" style="width: 150px;" name="static_routes" id="static_routes" />
        <p class="context-tip">optional list of ip/mask:gateway formatted routes, space delimited</p>
        </td>
        </tr>


        <tr id="virtbridge_row">
        <td class="nicedit">
        <label for="virtbridge">Virt Bridge</label>
        </td>
        <td class="nicedit">
        <input type="text" size="20" style="width: 150px;" name="virtbridge" id="virtbridge" />
        <p class="context-tip">Example: 'xenbr0' or 'virbr0'.  Can be blank if set in profile or settings.</p>
        </td>
        </tr>

        {% if editable %}
        <tr>
        <td class="nicedit">
            <label for="enabled">Remove</label>
        </td>
        <td class="nicedit">
            <input type="button" name="delete-interface" value="remove" onclick="on_interface_delete()">
            <p class="context-tip">Clicking this button removes the interface from the configuration.</p>
        </td>
        </tr>

        <input type="hidden" id="present" name="present" value="0">
        <input type="hidden" id="original" name="original" value="0">

        {% endif %}

    {# ====================================== end of interface section #}

    <tr>
    <td>
    <hr width="95%"/>
    </td>
    <td>
    <hr width="95%"/>
    </td>
    </tr>

    {% if editable %}
    <tr>
    <td>
    </td>
    <td>
    <input type="button" name="submitter" onClick="on_form_submit();" value="Save"/>
    <input type="reset" name="reset" value="Reset"/>
    </td>
    </tr>
    {% endif %}

    </table>

</fieldset>
</form>

{% endblock content %}
