
body, html {
  font-family: "URW Gothic", "Liberation Sans", "Helvetica", "Luxi Sans", "Bitstream Vera Sans", sans-serif;
  background-color: #EEEEEE;
  color: #222222;
  font-size: .9em;
}
a { color: #222222; text-decoration: none; }
label { font-weight: bold; }
legend,h3 { color: #306CAC; font-size: 1.2em; font-weight: bold; }
legend { margin: 0px; padding-bottom: 3px; }
hr { margin-top: -2px; height: 1px; }
fieldset { border: 0px; padding: 0px; margin: 0px; }
img { border: 0px; }
ul { list-style-position: outside; list-style-type: none; overflow: hidden; } 

.action { cursor: pointer; }
.warn { color: #990000; font-weight: bold; font-size: 1.0em; }
.rpointers { font-size: 1.6em; margin-left: 5px; }
.lpointers { font-size: 1.6em; margin-right: 5px; }

div.content { float: left; margin-left: 0px; padding: 0px; min-width: 400px; width: 80%; }
div.container { float: left; margin: 0px; padding: 0px; min-width: 400px; width: 100%; overflow: none; }

#menubar { float: left; padding-left: 11px; width: 200px; }
#menubar ul { padding: 0px 0px 10px 2px; margin: 0px; }
#menubar ul li { padding-left: 8px; }
#menubar select { width: 102px; }

#listactions { padding-left: 11px; width: 140px; }
#listactions ul { padding: 0px 0px 0px 2px; margin: 0px; } 
#listactions ul li { padding-left: 8px; }

#listitems thead { background-color: #306CAC; color: #dddddd; font-weight: bold; }
#listitems thead a { color: #dddddd; }
#listitems tbody a { text-decoration: underline; }
#listitems tbody .rowodd { background-color: #d3d3d3; }
#listitems tbody .roweven { background-color: #e0e0e0; }
#listitems tbody .action { text-decoration: underline; }

#import li { padding: 8px; }
#import label { width: 60px; float: left; }

#edit h3 { border-width: 0px 0px 1px 0px; border-style: solid; padding-bottom: 2px;}
#edit select { width: 175px; }
