
body, html {
  font-family: "URW Gothic", "Liberation Sans", "Helvetica", "Luxi Sans", "Bitstream Vera Sans", sans-serif;
  background-color: #D9D8D2;
  color: #3E4547;
  font-size: .9em;
}

h3 { color: #306CAC; }
/* imeyer css additions in here */
ul.list { list-style-position: outside; list-style-type: none; overflow: hidden; }
ul.menubar { padding-bottom: 10px; }
li.menubar { padding-left: 8px; }
label.form_input { width: 60px; float: left; font-weight: bold;}
legend { color: #306CAC; font-size: 1.2em; font-weight: bold; margin: 0px; padding: 0px 0px 3px 0px; }
.rowodd  { background-color: #d9d9d9; color: #3E4547;}
.roweven { background-color: #e0e0e0; color: #3E4547; }
p { font-weight: bold; font-size: 0.8em; padding: 5px; margin: 10px; border: 1px solid #999; background-color: #EEE; }
span.example { font-size: 0.9em; }
.clear { clear: both; overflow: hidden; }
.bgheader { background-color: #306CAC; color: #ddd; }
li.key { }
li.value { }
li.import { padding: 8px; }
ul { padding: 0px; margin: 0px; }
tr { padding: 0px; margin: 0px; }
.row { padding: 0px; margin: 0px; float: left; padding: 0.23em 0;}
pre { padding: 0px; margin: 0px; }
ol { }
.warn { color: #900; font-weight: bold; font-size: 1.0em; }
li.property { width: 30%; }
li.value { width: 70%; }
a { color: #636b6e; text-decoration: none;}
a:hover { color: #636b6e; text-decoration: underline;}
fieldset { border: 0; padding: 0px; margin: 0px; }
img { border: 0; }
div.menubar { float: left; padding-left: 11px; width: 140px;}
div.content { float: left; margin-left: 0px; padding: 0px; min-width: 400px; width: 80%; }
div.container { float: left; margin-left: 0px; padding: 0px; min-width: 400px; width: 100%; overflow: none; }
select.filter { width: 102px; }
/* end imeyer css */
