
body {
  font-family: "URW Gothic", "Liberation Sans", "Helvetica", "Luxi Sans", "Bitstream Vera Sans", sans-serif;
  background-color: #D4D4D4;
  color: #222222;
  font-size: .9em;
  background-color: #D4D4D4;
  background-image: url('/cobbler_webui_content/logo-cobbler.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  padding-top: 78px;
}
a { color: #222222; text-decoration: none; }
a:hover { color: #306CAC; text-decoration: none; }
span.action:hover { color: #306CAC; text-decoration: none; }
label { font-weight: bold; }
h1,h3 { color: #306CAC; font-size: 1.2em; font-weight: bold; }
h1 { margin: 0px; padding-bottom: 3px; }
hr { margin-top: -2px; height: 1px; }
fieldset { border: 0px; padding: 0px; margin: 0px; }
img { border: 0px; }
ul { list-style-position: outside; list-style-type: none; overflow: hidden; } 
table { border: 0px }

.action { cursor: pointer; }
.error { color: red; }
.errormsg { color: blue; }
.warn { color: #990000; font-weight: bold; font-size: 1.0em; }
.rpointers { font-size: 1.6em; margin-left: 5px; }
.lpointers { font-size: 1.6em; margin-right: 5px; }
.hidden { display:none; }

div.multileft { float: left; text-align: left; }
div.multileft select { width: 150px;}
div.multiright { float: left; text-align: right; width: 100px; }
div.multiright select { width: 150px;}
div.content { float: left; margin-left: 0px; padding: 0px; min-width: 400px; width: 80%; }
div.container { float: left; margin: 0px; padding: 0px; min-width: 400px; width: 100%; overflow: none; }

#menubar { float: left; padding-left: 11px; width: 200px; background: #D4D4D4; }
#menubar ul { padding: 0px 0px 10px 2px; margin: 0px; }
#menubar ul li { padding-left: 8px; }
#menubar select { width: 102px; }

#listactions { padding: 5px 0px 5px 15px; width: 140px; margin-top: 5px; background-color: #CCCCCC }
#listactions li { padding-bottom: 3px; }

#listitems { border: 0; width: 100%; }
#listitems td { padding: 2px; }
#listitems thead { background-color: #306CAC; color: #dddddd; font-weight: bold; text-align: left;}
#listitems thead a { color: #dddddd; }
#listitems tbody a { text-decoration: underline; }
#listitems tbody .rowodd { background-color: #d3d3d3; }
#listitems tbody .rowodd:hover { background-color: #eeeeee; }
#listitems tbody .roweven { background-color: #e0e0e0; }
#listitems tbody .roweven:hover { background-color: #eeeeee; }
#listitems tbody .action { text-decoration: underline; }

#import li { padding: 8px; }
#import label { width: 60px; float: left; }

#edit h3 { border-width: 0px 0px 1px 0px; border-style: solid; padding-bottom: 2px;}
#edit select { width: 175px; }
#edit input[type=text] { width: 300px; }

#login {
 width:250px;
 margin:100px auto;
 padding:20px;
 text-align: center;
}
#login #button {
 margin-top:10px;
 text-align: center;
}
