.button {
  border: 1px solid #d0d0d0;
  -moz-border-radius: 6px;
  background-color: #717171;
  padding: 2px 16px;
  padding-left: 32px;
  background-position: 15%;
  background-repeat: no-repeat;
}

a.button, a.button:link, a.button:visited, a.button:active {
  text-decoration: none;
  color: #444;
  font-weight: bold;
  font-family: sans-serif;
}

body, html {
  background-color: #212121;
}

td {
  text-align: left;
  vertical-align: top;
}

th {
  text-align: left;
}

body {
  /* min-width: 750px; */
}

img {
  border: none;
}

body, ul, li, p, h1, h2, h3 {
  font-family: "Liberation Sans", "Helvetica", "Luxi Sans", "Bitstream Vera Sans", sans-serif;
  color: white;
}

/* 
ul {
  list-style-type: square;
}
*/

fieldset {
  border: 0;
}

#sidebar {
  height: auto;
  width: 185px;
  float: left;
  margin-left: 24px;
}

span.nav_label {
  font-size: small;
}

div.section_caption {
  font-size: medium;
  font-weight: 900;
  padding-bottom: 20px;
}

div#nav_object {
  background-color: #252525;
}

div#nav_action {
  background-color: #252525;
}

div#nav_filter {
  background-color: #252525;
}

div#nav_page {
  background-color: #252525;
}

#sidebar p, #sidebar h2 {
  margin-left: 24px;
}

ul#nav {
  text-transform: uppercase;
  letter-spacing: -.05em;
  list-style-type: none;
  font-family: "URW Gothic", "Liberation Sans", "Helvetica", "Luxi Sans", "Bitstream Vera Sans", sans-serif;
}

ul#nav li a {
  color: #C88800;
  text-decoration: none;
}

ul#navaction {
  margin-left: 1em;
  padding-left: 0;
  list-style-type: none;
}

ul#navaction li a {
  color: #C8C800;
  text-decoration: none;
}

div#main {
  overflow: auto;
  padding: 20px 0px;
}

div#content {
  /* float: left; */
  padding: 20px 45px;
}

tr.virtedit {
  background-color: #882121;
}

tr.poweredit {
  background-color: #218821;
}

tr.netedit {
  background-color: #212188;
}

div#content h1 {
  font-size: x-large;
  font-weight: normal;
}

div#content h2 {
  font-size: medium;
  font-weight: 900;
  text-transform: uppercase;
}

div#content h3 {
  color: #C88800;
}

div#content p {
  font-size: small;
  color: #ccc;
}

a:link {
  color: #C88800;
}

a:hover {
  color: white;
}

a:visited {
  color: #99d9e8;
}

#content p.metadata {
  font-size: x-small;
  color: white;
}

dt {
  font-weight: 900;
  margin-bottom: 1em;
}

dd {
  color: #ccc;
  margin-bottom: 2em;
}

blockquote {
  padding: 2px 4px;
}

p.note, p.tip {
  margin: 16px 8px;
  padding: 8px 12px;
  color: white !important;
  background-color: #666;
  -moz-border-radius: 10px;
}

p.note strong, p.tip strong {
  font-size: 120%;
}

tt {
  font-size: 130%;
  font-weight: 700;
}

span.tip {
        padding:                2px 8px;
}

span.tip p {
        color:                  black;
        font-weight:            bolder;
        font-size:              small;
        text-transform:         uppercase;
        padding:                0px;
        margin:                 0px;
        padding-left:           42px;
}

textarea#ksdata {
    width: 100%;
    height: 100%;
}

select#repos {
    width: 256px;
    height: 8em;
}

pre.config_data {
    font-family: monospace;
    background: white;
    color: black;
    width: 640px;
    min-height: 480px;
}

br {
    clear: both;
}

tr.rowodd  { background-color: #212121; }
tr.roweven { background-color: #3f3d3d; }

table.sortable th {
    background-color: #363a4e;
    margin: 0;
    white-space: nowrap;
}

