/*Reset to a sane default across browsers*/
html{
  overflow-y: scroll;
  font-size: 1em;
}

a,blockquote,body,div,dl,dt,dd,form,fieldset,h1,h2,h3,h4,h5,h6,html,img,input,label,li,ul,ol,p,pre,span,textarea,table,tbody,td,th,thead,tr {
  border: 0;
  margin: 0;
  padding: 0;
}

select,input,button,textarea{
  font-size:99%;
}

select {
  margin: 0;
}

table{
  border-collapse:collapse;
  border-spacing:0;
  empty-cells:show;
  width: 100%;
}
/*End Reset*/

/* Lets set the primary styles and feel for the app */
body {
  font-family: "URW Gothic", "Liberation Sans", "Helvetica", "Luxi Sans", "Bitstream Vera Sans", arial,helvetica,clean,sans-serif;
  color: #333333;
  background-color: #EEEEEE;
  background-image: url('/cobbler_webui_content/logo-cobbler.png');
  background-repeat: no-repeat;
  background-position: 0% 0%;
  padding-top: 80px;
  position: relative;
}

a { color: #333333; text-decoration: none; }
a:hover { color: #306CAC; }
img { border: 0px; }
h1,h2,legend { color: #306CAC; font-weight: bold; }
h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; margin-bottom: 0px; }
hr { height: 1px; margin: 0px; }
input, textarea { background-color: white; padding: 2px 4px; border: 1px solid #306CAC; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
input[type=text], input[type=password], select { width: 200px; }
label { font-weight: bold; }
ol, ul { list-style: none; }
textarea { height: 8em; width: 25em; }

/* Defining the classes */
.button, .action {
  text-decoration: none;
  background-color: #306CAC;
  border: 0px;
  font-weight: bold;
  color: #dddddd;
  cursor: pointer;
  margin: 0px 2px;
  padding: 2px 7px;
  -moz-border-radius:3px;
  -webkit-border-radius: 3px;
  text-transform: capitalize;
}
.button:hover, .action:hover {
  color: #DDDDDD;
  background-color: #333333;
}
.warn { color: #990000; font-weight: bold; font-size: 1.0em; }
.rpointers { font-size: 1.0em; margin-left: 5px; }
.lpointers { font-size: 1.0em; margin-right: 5px; }

/* Defining classes specific to a tag */
body.loginscreen { background-image: none; }
input.action { height: 22px; }
div.sectionbody label { width: 300px; vertical-align: top; display: inline-block; line-height: 1.8; }
div.multiselect { display: -moz-inline-box; display:inline-block; vertical-align:top; clear: both; margin-bottom: 4px;}
div.multiselect label { width: auto; font-weight: normal; display: inline; }
div.multileft { float: left; text-align: left; width: 150px; }
div.multileft select, div.multiright select { height: 156px; width: 150px; }
div.multibuttons { width: 105px; padding-top: 75px; float: left;}
div.multibuttons input.button { font-size: .8em; clear: both; width: 100px; margin: 2px;}
div.multiright { float: left; text-align: right; width: 150px; }
li.paginate { float:right; }
li.paginate select { width: auto; }
span.context-tip { font-size: .7em; font-style: italic;}

/* Now for the 'id' specific statements */
#login { width: 250px; margin: auto; text-align: center;}
#login input { text-align: center;}

#container { width: 98%; margin: 0; padding: 0; min-height: 100%; }
#user { margin-top: -75px; height: 80px; width: 98%; text-align: right; }
#content { postition: relative; margin-left: 200px; overflow: auto; padding-bottom: 25px;}
#filter-adder { margin-top: 5px; }
#footer { font-size: .8em; text-align: center; postition: relative; height: 25px; margin-top: -25px; clear: both; }

#menubar { float:left; padding-left: 11px; width: 200px; }
#menubar h1 { font-size: 1.0em; margin-bottom: 4px; }
#menubar ul { padding-left: 2px; margin: 0px; margin-bottom: 8px; }
#menubar ul li { font-size: .8em; padding-left: 8px; }

#submenubar { width: 100%; display: inline; }
#submenubar li { float: left; display: inline; height: 26px; margin-left: 8px; }
#submenubar li:first-child { margin-left: 0px; margin-top: 4px; }
#submenubar li.paginate { float: right; }
#submenubar li.paginate select { width: auto; }

#batchactions { font-weight: bold; }
#batchactions option { padding-left: 1em; font-weight: normal; }
#batchactions option:first-child { font-weight: bold; padding-left: 0; }

#listitems { clear: both; }
#listitems thead { background-color: #306CAC; color: #dddddd; font-weight: bold; text-align: left; }
#listitems thead a { color: #dddddd; }
#listitems thead tr th:first-child { width: 2em; padding-left: .3em;}
#listitems tbody tr a.action, #listitems tbody tr span.action { font-size: .8em; float: left; padding: 1px 7px; }
#listitems tbody tr { background-color: #eeeeee; }
#listitems tbody tr.selected { background-color: #e0e0e0; }
#listitems tbody tr:hover { background-color: #cccccc; }
#listitems tbody td { border-bottom: 1px solid #cccccc; }
#listitems tbody td:first-child { width: 2em; padding-left: .3em;}
#listitems tbody td:last-child { width: 21em; }

/* Old styles
#import li { padding: 8px; }
#import label { width: 60px; float: left; }

#edit h3 { border-width: 0px 0px 1px 0px; border-style: solid; padding-bottom: 2px;}
#edit select { width: 175px; }
#edit input[type=text] { width: 300px; }
*/

