#
# Sample scripted installation file
# for ESXi 5+
#

vmaccepteula
reboot --noeject
rootpw --iscrypted $default_password_crypted

install --firstdisk --overwritevmfs
clearpart --firstdisk --overwritevmfs

$SNIPPET('built-in-network_config')

%pre --interpreter=busybox

$SNIPPET('built-in-autoinstall_start')
$SNIPPET('built-in-pre_install_network_config')

%post --interpreter=busybox

$SNIPPET('built-in-autoinstall_done')
