# sample Kickstart for ESXi

install url $tree

rootpw --iscrypted $default_password_crypted

accepteula
reboot

autopart --firstdisk --overwritevmfs
 
$SNIPPET('built-in-network_config_esxi')

%pre --unsupported --interpreter=busybox
$SNIPPET('built-in-autoinstall_start')

%post --unsupported --interpreter=busybox
$SNIPPET('built-in-autoinstall_done')
