{% extends "master.tmpl" %}

{% block content %}
  <h1>Things You Might Want To Fix:</h1>
  <hr/>
  <ol>
    {% for entry in results %}
    <li>{{ entry }}</li>
    {% endfor %}
  </ol>
  After making changes, run "cobbler sync" and restart cobblerd.
{% endblock %}
