{% extends "master.tmpl" %}

{% block content %}
<fieldset id="check">
  <legend>Things You Might Want To Fix:</legend>
  <hr/>
  <ol>
    {% for entry in results %}
    <li>{{ entry }}</li>
    {% endfor %}
  </ol>
  After making changes, run "cobbler sync" and restart cobblerd.
</fieldset>
{% endblock %}
