{% extends "master.tmpl" %}

{% block content %}

<h1 class="error">Error</h1>

An error has occurred.  You may find more information in /var/log/cobbler/cobbler.log
on the server should this error not be self explanatory.

<p class="errormsg">{{ message }}</p>

<a href="javascript: history.go(-1)">Go Back</a>

{% endblock content %}
