{% extends 'master.tmpl' %}
{% block content %}

<fieldset>
  <legend>{{ eventid }} : {{ eventname }} :: {{ eventstate }}</legend>
  <hr/>
  <textarea rows="40" cols="120" name="eventlog" id="eventlog">
  {{ eventlog }}
  </textarea>
  <br/>
  <a href="javascript:location.reload(true)">Refresh log</a>
</fieldset>

{% endblock content %}
