{% extends "master.tmpl" %}

{% block content %}

<h1>Events</h1>
<hr />
{% if results %}
<table id="listitems" cellspacing="0">
  <thead>
    <tr>
      <th>Start Time</th>
      <th>Name</th>
      <th>State</th>
      <th>Log</th>
    </tr>
  </thead>
  <tbody>
  {% for line in results reversed %}
    <tr class="{% cycle 'rowodd' 'roweven' %}">
      <td>{{ line.1|safe }}</td>
      <td>{{ line.2|safe }}</td>
      <td>{{ line.3|safe }}</td>
      <td><a href="/cobbler_web/eventlog/{{ line.0 }}">log</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<h2>No events</h2>
{% endif %}

{% endblock %}
