{% extends 'master.tmpl' %}
{% block content %}

<div class="section_caption">Event {{ eventid }} : {{ eventname }} :: {{ eventstate }}</div>
<textarea rows="40" cols="120" name="eventlog" id="eventlog">
{{ eventlog }}
</textarea>

</div>

<br/>
<a href="javascript:location.reload(true)">Refresh log</a>


{% endblock content %}


