{% extends "master.tmpl" %}
{% load site %}
{% block content %}

<script type="text/javascript">
function items_check_all(){
    var checkall = document.getElementById("itemsall").checked
    var items    = document.getElementsByName("items")
    for(i=0; i<items.length; ++i) {
        items[i].checked=checkall;
    }
}

function items_checked_values() {
    var items = document.getElementsByName("items")
    var values = new Array();
    for(i=0; i<items.length; ++i) {
        if (items[i].checked) {
            values.push(items[i].value)
        }
    }
    s = values.join(" ")
    return s;
}

function obj_rename(old) {
  var newname = window.prompt("Change {{ what }} name to?",old);
  if (newname != null) {
      window.location = "/cobbler_web/{{ what }}/rename/" + old + "/" + newname;
  }
}
function obj_copy(old) {
  var newname = window.prompt("Name for the new {{ what }}?",old);
  if (newname != null) {
      window.location = "/cobbler_web/{{ what }}/copy/" + old + "/" + newname;
  }
}
function obj_delete(old) {
  if (confirm("Delete {{ what }} (" + old + ") and all child objects?")) {
      window.location = "/cobbler_web/{{ what }}/delete/" + old;
  }
}

function action_multi(otype, action, param) {
  var values = items_checked_values()
  if (values == "") {
     return
  }
  document.getElementById("names").value = values

  if (action == "profile") {
       param = window.prompt("New installation profile name for checked systems?","")
       if ((param == null) || (param == "")) {
          return
       }
       value = 1
  }
  else {
       value = null
  }
  if ((action == "power") && (param == "on")) {
     value = confirm("Confirm: Really power up all checked systems?")
  }
  if ((action == "power") && (param == "off")) {
     value = confirm("Confirm: Really power down all checked systems?")
  }
  if ((action == "power") && (param == "reboot")) {
     value = confirm("Confirm: Really reboot all checked systems?")
  }
  if ((action == "netboot") && (param == "enable")) {
     value = confirm("Confirm: Really flag all checked systems for PXE reinstallation?")
  }
  if ((action == "netboot") && (param == "disable")) {
     value = confirm("Confirm: Really disable all checked systems for PXE reinstallation?")
  }
  if ((action == "delete" ) && (param == "delete")) {
     value = confirm("Confirm: Really delete all checked systems?")
  }
  if ((action == "reposync")) {
     value = "reposync"
  }

  if (value) {
     document.myform.action = "/cobbler_web/" + otype + "/multi/" + action + "/" + param
     document.myform.submit()  
  }
  else {
     alert("Operation aborted.")
  }
}
</script>
<fieldset>
  <legend id="listheader" class="action"><span id="shadeState"></span> {{ what|title }}s</legend>
  <hr />
  <ul id="listactions">
    <li><a href="/cobbler_web/{{ what }}/edit">Create new {{ what }}</a></li>
    {% ifequal what "profile" %}
    <li><a href="/cobbler_web/sub{{ what }}/edit">Create new sub-{{ what }}</a></li>
    {% endifequal %}
    {% ifequal what "system" %}
    <li><strong>Batch actions</strong></li>
      <li><span class="action" onClick="javascript:action_multi('system','power','on')">Power On</span> ☼ </li>
      <li><span class="action" onClick="javascript:action_multi('system','power','off')">Power Off</span> ☼ </li>
      <li><span class="action" onClick="javascript:action_multi('system','power','reboot')">Reboot</span> ☼ </li>
      <li><span class="action" onClick="javascript:action_multi('system','delete','delete')">Delete System</span> ☼ </li>
      <li><span class="action" onClick="javascript:action_multi('system','profile','')">Change Profile</span> ☼ </li>
      <li><span class="action" onClick="javascript:action_multi('system','netboot','enable')">Enable Netboot</span> ☼ </li>
      <li><span class="action" onClick="javascript:action_multi('system','netboot','disable')">Disable Netboot</span> ☼ </li>
    {% endifequal %}
    {% ifequal what "repo" %}
      <li><span class="action" onClick="javascript:action_multi('profile','reposync','go')">Sync</span> ☼ </li>
    {% endifequal %}
  </ul>
  <form name="myform" method="post" action="/cobbler_web/{{ what }}/action">
    <table id="listitems" border="0" width="100%" cellspacing="0" cellpadding="2">
      <thead>
        <td>
          &nbsp;<input type="checkbox" id="itemsall" onclick="javascript:items_check_all();">
        </td>
        {% for value in columns %}
        <td>
          <a href="/cobbler_web/{{ what }}/modifylist/sort/{{ value.0 }}">{{ value.0|title }}</a>
          {% ifequal value.1 "asc" %}
          &darr;
          {% endifequal %}
          {% ifequal value.1 "desc" %}
          &uarr;
          {% endifequal %}
        </td>
        {% endfor %}
        <td>Actions</td>
      </thead>
      <tbody>
      {% for item in items %}
      <tr class="{% cycle 'rowodd' 'roweven' %}">
        <td>&nbsp;<input type="checkbox" name="items" value="{{ item.0.1 }}"/></td>
        {% for value in item %}
        <td>
          {% ifequal value.0 "name" %}
              <a href="/cobbler_web/{{ what }}/edit/{{ value.1 }}">{{ value.1 }}</a>
          {% endifequal %}
          {% ifequal value.2 "editlink" %}
              {% ifnotequal value.1 "~" %}
                  <a href="/cobbler_web/{{ value.0 }}/edit/{{ value.1 }}">{{ value.1 }}</a>
              {% endifnotequal %}
          {% endifequal %}
          {% ifequal value.2 "checkbox" %}
            {% ifequal value.1 1 %}
            <input type="checkbox" name="{{ item.name }}" id="{{ item.name }}" value="{{ item.name }}" disabled="disabled" checked="checked" />
            {% else %}
            <input type="checkbox" name="{{ item.name }}" id="{{ item.name }}" value="{{ item.name }}" disabled="disabled" />
            {% endifequal %}
          {% endifequal %}
          {% ifequal value.2 "text" %}
              {{ value.1 }}
          {% endifequal %}
        </td>
        {% endfor %}
        <td>
          <span class="action" onClick="window.location='/cobbler_web/{{ what }}/edit/{{ item.0.1 }}'">Edit</span> 
          <span class="action" onClick="javascript:obj_copy('{{ item.0.1 }}')"/>Copy</span> 
          <span class="action" onClick="javascript:obj_rename('{{ item.0.1 }}')"/>Rename</span> 
          <span class="action" onClick="javascript:obj_delete('{{ item.0.1 }}')"/>Delete</span> 
          {% ifequal what "system" %}
          <span class="action" onClick="window.location='/cblr/svc/op/ks/system/{{ item.0.1 }}'">View kickstart</span>
          {% endifequal %}
          {% ifequal what "profile" %}
          <span class="action" onClick="window.location='/cblr/svc/op/ks/profile/{{ item.0.1 }}'">View kickstart</span>
          {% endifequal %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  <input type="hidden" name="names" id="names" value=""/>
  </form>
</fieldset>

{% endblock content %}


