{% extends "master.tmpl" %}
{% load site %}
{% block content %}

<div class="section_caption">{% ifequal editmode 'edit'  %}Editing{% else %}Adding{% endifequal %} a {{ what|capfirst }}</div>

<form method="POST" action="/cobbler_web/{{ what }}/save">

<fieldset id="cform">

    <input type="hidden" name="editmode" value="{{ editmode }}"/>

    <table border=0>

    {% for item in fields %}

        <tr>

            <td>{{ item.caption }}</td>

            <td>

            {% ifequal item.html_element "text" %}
                <input type="text" name="{{ item.name }}" value="{{ item.value }}" class="{{ item.css_class }}"/>
            {% endifequal %}

            {% ifequal item.html_element "textarea" %}
                <textarea name="{{ item.name }}" rows="4" cols="40" class="{{ item.css_class }}">{{ item.value }}</textarea>
            {% endifequal %}

            {% ifequal item.html_element "radio" %}
                {% for choice in item.choices %}
                    {% ifequal item.value choice %}
                        <input type="radio" name="{{ item.name }}" value="{{ choice }}" checked>{{ choice }}&nbsp;
                    {% else %}
                        <input type="radio" name="{{ item.name }}" value="{{ choice }}">{{ choice }}&nbsp;
                    {% endifequal %}
                {% endfor %}
            {% endifequal %}

            {% ifequal item.html_element "checkbox" %}
                {% ifequal item.value True %}
                    <input type="checkbox" name="{{ item.name }}" value="{{ item.name }}" checked> Enabled<br>
                {% else %}
                    <input type="checkbox" name="{{ item.name }}" value="{{ item.name }}"> Enabled<br>
                {% endifequal %}
            {% endifequal %}

            {% ifequal item.html_element "select" %}
                <select>
                    {% for choice in item.choices %}
                        {% ifequal item.value choice %}
                            <option value="{{ choice }}" selected>{{ choice }}</A>
                        {% else %}
                            <option value="{{ choice }}">{{ choice }}</A>
                        {% endifequal %}
                    {% endfor %} 
                </select>
            {% endifequal %}

            {% ifequal item.html_element "multiselect" %}
                <select multiple>
                    {% for choice in item.choices %}
                        {% smart_if choice in item.value_raw %}
                            <option value="{{ choice }}" selected>{{ choice }}</A>
                        {% else %}
                            <option value="{{ choice }}">{{ choice }}</A>
                        {% endsmart_if %}
                    {% endfor %} 
                </select>
            {% endifequal %}

            <p class="context-tip">{{ item.tooltip }}</p>
            </td>

        </tr>

    {% endfor %}

    {% ifequal editable True %}
    <tr>
    <td>
    </td>
    <td>
    <input type="submit" name="submit" onClick="on_form_submit();" value="Save"/>
    <input type="reset" name="reset" value="Reset"/>
    </td>
    </tr>
    {% endifequal %}

</table>
</fieldset>
</form>
{% endblock content %}
