{% extends "master.tmpl" %}
{% load site %}
{% block content %}
{% if items %}

<script type="text/javascript">
function items_check_all(){
    var checkall = document.getElementById("itemsall").checked
    var items    = document.getElementsByName("items")
    for(i=0; i<items.length; ++i) {
        items[i].checked=checkall;
    }
}

function items_checked_values() {
    var items = document.getElementsByName("items")
    var values = new Array();
    for(i=0; i<items.length; ++i) {
        if (items[i].checked) {
            values.push(items[i].value)
        }
    }
    s = values.join(" ")
    return s;
}

function obj_rename(old) {
  var newname = window.prompt("Change {{ what }} name to?",old);
  if (newname != null) {
      window.location = "/cobbler_web/{{ what }}/rename/" + old + "/" + newname;
  }
}
function obj_copy(old) {
  var newname = window.prompt("Name for the new {{ what }}?",old);
  if (newname != null) {
      window.location = "/cobbler_web/{{ what }}/copy/" + old + "/" + newname;
  }
}
function obj_delete(old) {
  if (confirm("Delete {{ what }} (" + old + ") and all child objects?")) {
      window.location = "/cobbler_web/{{ what }}/delete/" + old;
  }
}

function action_multi(otype, action, param) {
  var values = items_checked_values()
  if (values == "") {
     return
  }
  document.getElementById("names").value = values

  if (action == "profile") {
       param = window.prompt("New installation profile name for checked systems?","")
       if ((param == null) || (param == "")) {
          return
       }
       value = 1
  }
  else {
       value = null
  }
  if ((action == "power") && (param == "on")) {
     value = confirm("Confirm: Really power up all checked systems?")
  }
  if ((action == "power") && (param == "off")) {
     value = confirm("Confirm: Really power down all checked systems?")
  }
  if ((action == "power") && (param == "reboot")) {
     value = confirm("Confirm: Really reboot all checked systems?")
  }
  if ((action == "netboot") && (param == "enable")) {
     value = confirm("Confirm: Really flag all checked systems for PXE reinstallation?")
  }
  if ((action == "netboot") && (param == "disable")) {
     value = confirm("Confirm: Really disable all checked systems for PXE reinstallation?")
  }
  if ((action == "reposync")) {
     value = "reposync"
  }

  if (value) {
     document.myform.action = "/cobbler_web/" + otype + "/multi/" + action + "/" + param
     document.myform.submit()  
  }
  else {
     alert("Operation aborted.")
  }
}
</script>
<fieldset>
  <legend>{{ what|title }}s</legend>
  <hr />
  <p class="action">
    <strong>Actions:</strong> 
    <a href="/cobbler_web/{{ what }}/edit">Add new {{ what }}</a>
    {% ifequal what "profile" %}
    <a href="/cobbler_web/sub{{ what }}/edit">Add new sub-{{ what }}</a>
    {% endifequal %}
  </p>
  <form name="myform" method="post" action="/cobbler_web/{{ what }}/action">
    <table border="0" width="100%" cellspacing="0" cellpadding="2">
      <tr class="bgheader">
        <td>
          &nbsp;<input type="checkbox" id="itemsall" onclick="javascript:items_check_all();">
        </td>
        {% for column_name in columns %}
        <td align="left"><strong>{{ column_name|title }}</strong></td>
        {% endfor %}
        <td align="left"><strong>Actions</strong></td>
      </tr>
      {% for item in items %}
      <tr class="{% cycle 'rowodd' 'roweven' %}">
        <td>&nbsp;<input type="checkbox" name="items" value="{{ item.0.1 }}"/></td>
        {% for value in item %}
        <td>
          {% ifequal value.0 "profile" %}
          <a href="/cobbler_web/profile/edit/{{ value.1 }}">{{ value.1 }}</a>
          {% endifequal %}
          {% ifequal value.0 "distro" %}
          <a href="/cobbler_web/distro/edit/{{ value.1 }}">{{ value.1 }}</a>
          {% endifequal %}
          {% ifequal value.0 "image" %}
          <a href="/cobbler_web/image/edit/{{ value.1 }}">{{ value.1 }}</a>
          {% endifequal %}
          {% smart_if value.0 in otypes %}
          {% else %}
          {{ value.1 }}
          {% endsmart_if %}
        </td>
        {% endfor %}
        <td>
          <a onClick="window.location='/cobbler_web/{{ what }}/edit/{{ item.0.1 }}'">Edit</a>
          <a onClick="javascript:obj_copy('{{ item.0.1 }}')"/>Copy</a>
          <a onClick="javascript:obj_rename('{{ item.0.1 }}')"/>Rename</a>
          <a onClick="javascript:obj_delete('{{ item.0.1 }}')"/>Delete</a>
       </td>
       </tr>
       {% endfor %}
    </table>
  <input type="hidden" name="names" id="names" value=""/>
  </form>

{% ifequal what "system" %}
   <br/>
   Batch actions:
   <br/>
   <br/>
   <input type="button" onClick="javascript:action_multi('system','power','on')" value="Power On"/>
   <input type="button" onClick="javascript:action_multi('system','power','off')" value="Power Off"/>
   <input type="button" onClick="javascript:action_multi('system','power','reboot')" value="Reboot"/>
   <input type="button" onClick="javascript:action_multi('system','profile','')" value="Change Profile"/>
   <input type="button" onClick="javascript:action_multi('system','netboot','enable')" value="Enable Netboot"/>
   <input type="button" onClick="javascript:action_multi('system','netboot','disable')" value="Disable Netboot"/>
{% endifequal %}

{% ifequal what "repo" %}
   <br/>
   Batch actions:
   <br/>
   <br/>
   <input type="button" onClick="javascript:action_multi('profile','reposync','go')" value="Sync Repos"/>

{% endifequal %}
</fieldset>
{% else %}
There are no objects of this type yet.
{% endif %}

{% endblock content %}


