{% extends 'master.tmpl' %}
{% block content %}
<form method="post" action="/cobbler_web/import/run">
  <fieldset id="import">
    <legend>DVD Importer</legend>
      <ul>
        <li>
          <label for="name" class="inputlabel">Prefix</label>
          <input type="text" size="128" style="width: 300px;" name="name" id="name" />
          <p>Example:  rhel5u3, fedora11 (do not include the arch name)</p>
          <div style="clear: both;"></div>
        </li>
        <li>
          <label for="arch" class="inputlabel">Arch</label>
          <select name="arch" id="arch">
            <option value="i386">i386</option>
            <option value="x86_64">x86_64</option>
            <option value="ia64">ia64</option>
            <option value="ppc">ppc</option>
            <option value="ppc64">ppc64</option>
            <option value="s390">s390</option>
            <option value="s390x">s390x</option>
          </select>
          <p class="context-tip">Architecture of the DVD you are importing</p>
          <div style="clear: both;"></div>
        </li>
        <li>
          <label for="breed" class="inputlabel">Breed</label>
          <select name="breed" id="breed">
            <option value="redhat">Red Hat based (includes Fedora, CentOS, Scientific Linux)</option>
            <option value="debian">Debian</option>
            <option value="ubuntu">Ubuntu</option>
            <option value="suse">SUSE</option>
          </select>
          <p class="context-tip">Type of OS you are importing.  If yours is not listed here (ex: SUSE), you will have to add a distro manually.  Other distro imports may be supported in the future.  Non Red Hat based distros may require additional instructions, see the <a href="http://fedorahosted.org/cobbler">Wiki</a> for details.</p>
          <div style="clear: both;"></div>
        </li>
        <li>
          <label for="path" class="inputlabel">Path</label>
          <input type="text" size="128" style="width: 300px;" name="path" id="path" />
          <p class="context-tip">Full path to mounted DVD contents only (ex: /mnt/cdrom).  No CD ISOs!.  Content will be copied by Cobbler to /var/www/cobbler/ks_mirror automatically and then cobbler will create distro and profile objects for each ISO imported.  If you need more control about where files are sourced or end up, create new distro and profile object manually.</p>
          <div style="clear: both;"></div>
        </li>
        <li>
          <input type="submit" name="submit" value="Run"/>
          <div style="clear: both;"></div>
        </li>
      </ul>
    </fieldset>
</form>
{% endblock content %}
