{% extends 'master.tmpl' %}
{% block content %}
<fieldset>
  <legend>Cobbler Kickstart Templates</legend>
  <div class="clear bgheader">
    <ul class="list">
      <li class="float key">File</th>
      <li class="float value">Actions</th>
    </ul>
  </div>
{% for ksfile,shortname,option in ksfiles %}
  <div class="{% cycle 'rowodd' 'roweven' %} clear">
    <ul class="list">
      <li class="float key">{{ shortname }}</li>
      {% if option %}
      <li class="float value">
        {% ifequal option "editable" %}<input type="button" value="Edit" onclick="javascript:location='/cobbler_web/ksfile/edit/{{ ksfile }}'"/>{% endifequal %}
        {% ifequal option "viewable" %}<input type="button" value="View" onclick="javascript:location='{{ ksfile }}'"/>{% endifequal %}
      </li>
      {% else %}
        <li>N/A</li>
      {% endif %}
    </ul>
  </div>
{% endfor %}
</fieldset>
{% endblock content %}
