<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}Cobbler Web Interface{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="/cobbler_webui_content/style.css" />
</head>
<body class="loginscreen">
  <div id="login">
  <img src="/cobbler_webui_content/logo-cobbler.png" width="185" />
  {% if form.errors %}
  <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}
  <form action="/cobbler_web/do_login" method="post">
  {% if next %}<input type="hidden" name="next" value="{{ next|escape }}" />{% endif %}
  <div id="username">
    <label for="username">Username: </label>
    <input type="text" name="username" value="" id="username" autofocus>
  </div>
  <div id="password">
    <label for="password">Password: </label>
    <input type="password" name="password" value="" id="password">
  </div>
  <div id="button">
    <input type="submit" value="login" />
  </div>
  </form>
  </div>
</body>
</html>
