<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}Cobbler Web Interface{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script src="/cobbler_webui_content/jquery-1.3.2.js" type="text/javascript"></script>
    <script src="/cobbler_webui_content/jsGrowl.js" type="text/javascript"></script> 
    <script src="/cobbler_webui_content/jsGrowl_jquery.js" type="text/javascript"></script> 
    <script src="/cobbler_webui_content/cobbler.js" type="text/javascript"></script> 
    <link rel="stylesheet" type="text/css" media="all" href="/cobbler_webui_content/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/cobbler_webui_content/jsGrowl.css" />

<script type="text/javascript">
$(document).ready(function()
{
  $(".navblock_head").click(function()
  {
    $(this).next(".navblock_body").slideToggle(600);
  });
  $("#templates_edit").hide();
  $("#profile_edit").hide();
  $("#profile_sub_edit").hide();
  $("#templates").click(function() {
    $("#" + this.id + "_edit").toggle('slow');
    if ($(this).css('display') == 'block') {
        $(this).html('&laquo;');
    }
    else {
        $(this).html('&raquo;');
    }
  });
});
</script>
</head>
<body onload="go_go_gadget()">
  <input type="hidden" name="username" id="username" value="{{ username }}"/>
  <div id="main">
    <div>
      <a href="/cobbler_web/"><img alt="Cobbler Logo" width="185" src="/cobbler_webui_content/logo-cobbler.png"/></a>
    </div>
    <div style="clear: both;"></div>
    <div id="container">
    <div id="sidebar">
      <h3>Configuration</h3>
        <ul>
          <li><a href="/cobbler_web/settings" class="menu">Settings</a></li>
          <li><a href="/cobbler_web/check" class="menu">Check</a></li>
          <li><a href="/cobbler_web/events" class="menu">Events</a></li>
          <li style="float: left;"><a href="/cobbler_web/distro/edit">&raquo;</a></li>
          <li><a href="/cobbler_web/distro/list" class="edit">Distros</a></li>
          <li style="float: left;"><a href="javascript:;">&raquo;</a></li>
          <li><a href="/cobbler_web/profile/list" class="edit">Profiles</a></li>
          <li id="profile_edit"><a href="/cobbler_web/profile/edit">&rarr; Add</a></li>
          <li id="profile_sub_edit"><a href="/cobbler_web/subprofile/edit">&rarr; Add sub-profile</a></li>
          <li style="float: left;"><a href="/cobbler_web/system/edit">&raquo;</a></li>
          <li><a href="/cobbler_web/system/list" class="edit">Systems</a></li>
          <li style="float: left;"><a href="/cobbler_web/repo/edit">&raquo;</a></li>
          <li><a href="/cobbler_web/repo/list" class="edit">Repos</a></li>
          <li style="float: left;"><a href="/cobbler_web/image/edit">&raquo;</a></li>
          <li><a href="/cobbler_web/image/list" class="edit">Images</a></li>
          <li style="float: left;"><a id="templates" href="javascript:;">&raquo;</a></li>
          <li><a href="/cobbler_web/ksfile/list" class="edit">Kickstart Templates</a></li>
          <li id="templates_edit"><a href="/cobbler_web/ksfile/edit" onclick="">&rarr; Add</a></li>
          <li style="float: left;"><a href="/cobbler_web/snippet/edit">&raquo;</A></li>
          <li><a href="/cobbler_web/snippet/list" class="edit">Snippets</a></li>
        </ul>
      <h3>Actions</h3>
        <ul>
          <li><a href="/cobbler_web/import/prompt"> Import DVD</a></li>
          <li><a href="/cobbler_web/sync"> Sync</a></li>
          <li><a href="/cobbler_web/reposync"> Reposync</a></li>
          <li><a href="/cobbler_web/hardlink"> Hardlink</a></li>
          <li><a href="/cobbler_web/replicate"> Replicate</a></li>
          <li><a href="/cobbler_web/buildiso"> Build ISO</a></li>
        </ul>
{% include "paginate.tmpl" %}
    </div>
  <div id="jsGrowl"/>  
    {% block content %}
      <h1 style="color: red;">Template Failure</h1>
    {% endblock %}
  </div><!-- jsGrowl -->
</div>
</div><!-- main -->
</body>
</html>
