{% if pageinfo %}
<li class="paginate"><label for="limit">Items/page:</label>
  <select name="limit" id="limit" onchange="javascript:location='/cobbler_web/{{ what }}/modifylist/limit/'+this.value">
  {% for p in pageinfo.items_per_page_list %}
    <option value="{{ p }}"{% ifequal pageinfo.items_per_page p %} selected="selected"{% endifequal %}>{{ p }}</option>
  {% endfor %}
  </select>
  {% ifnotequal pageinfo.prev_page "~" %}
  <a href="/cobbler_web/{{ what }}/modifylist/page/{{ pageinfo.prev_page }}"><span class="lpointers">&lArr;</span></a>
  {% else %}
  <span class="lpointers">&lArr;</span>
  {% endifnotequal %}
  <select name="page" id="page" onchange="javascript:location='/cobbler_web/{{ what }}/modifylist/page/'+this.value">
    {% for p in pageinfo.pages %}<option value="{{ p }}"{% ifequal pageinfo.page p %} selected="selected"{% endifequal %}>Page {{ p }}</option>{% endfor %}
  </select>
  {% ifnotequal pageinfo.next_page "~" %}
  <a href="/cobbler_web/{{ what }}/modifylist/page/{{ pageinfo.next_page }}"><span class="rpointers">&rArr;</span></a>
  {% else %}
  <span class="rpointers">&rArr;</span>
  {% endifnotequal %}
</li>
{% endif %}
