    {% if pageinfo %}
      <script language="Javascript">
        function add_filter() {
          field_name = document.getElementById("filter_field");
          field_value = document.getElementById("filter_value");
          if (field_name.value == "") {
            alert("You must select a field to filter on.");
          } else if (field_value.value == "") {
            alert("You must select a filter value.");
          } else {
            location = '/cobbler_web/{{ what }}/modifylist/addfilter/'+field_name.value+':'+field_value.value;
          }
        }
      </script>
      <fieldset>
        <legend>Filters & Paging</legend>
          <ul id="filter-adder">
            <li style="float: left">
              <select id="filter_field" name="filter_field" style="width:50px" width="50">
                <option value="">[?]</option>
                <option value="name">name</option>
                {% ifequal what "distro" %}<option value="arch">arch</option>
                <option value="breed">breed</option>
                <option value="comment">comment</option>
                <option value="kernel">kernel</option>
                <option value="initrd">initrd</option>
                <option value="kernel_options">kernel options</option>
                <option value="kernel_options_post">kernel options (post install)</option>
                <option value="ks_meta">kickstart metadata</option>
                <option value="mgmt_classes">management classes</option>
                <option value="os_version">os version</option>
                <option value="owners">owners</option>
                <option value="redhat_management_key">red hat management key</option>
                <option value="redhat_management_server">red hat management server</option>
                <option value="template_files">template files</option>{% endifequal %}
                {% ifequal what "profile" %}<option value="comment">comment</option>
                <option value="dhcp_tag">dhcp tag</option>
                <option value="distro">distro</option>
                <option value="owners">owners</option>
                <option value="kickstart">kickstart</option>
                <option value="kernel_options">kernel options</option>
                <option value="kernel_options_post">kernel options (post install)</option>
                <option value="ks_meta">kickstart metadata</option>
                <option value="mgmt_classes">management classes</option>
                <option value="name_servers">name servers</option>
                <option value="name_servers_search">name servers search</option>
                <option value="parent">parent (subprofiles only)</option>
                <option value="redhat_management_key">red hat management key</option>
                <option value="redhat_management_server">red hat management server</option>
                <option value="repos">repos</option>
                <option value="template_files">template files</option>
                <option value="virt_auto_boot">virt autoboot</option>
                <option value="virt_bridge">virt bridge</option>
                <option value="virt_cpus">virt cpus</option>
                <option value="virt_file_size">virt file size (GB)</option>
                <option value="virt_path">virt path</option>
                <option value="virt_ram">virt ram (MB)</option>
                <option value="virt_type">virt type</option>
                <option value="server">server override</option>{% endifequal %}
                {% ifequal what "system" %}<option value="bonding">bonding</option>
                <option value="bonding_master">bonding master</option>
                <option value="bonding_opts">bonding opts</option>
                <option value="comment">comment</option>
                <option value="dhcp_tag">dhcp tag</option>
                <option value="distro">distro</option>
                <option value="dns_name">dns name</option>
                <option value="gateway">gateway</option>
                <option value="hostname">hostname</option>
                <option value="image">image</option>
                <option value="ip_address">ip address</option>
                <option value="kickstart">kickstart</option>
                <option value="kernel_options">kernel options</option>
                <option value="kernel_options_post">kernel options (post install)</option>
                <option value="ks_meta">kickstart metadata</option>
                <option value="mac_address">mac address</option>
                <option value="mgmt_classes">management classes</option>
                <option value="name_servers">name servers</option>
                <option value="name_servers_search">name servers search</option>
                <option value="netboot_enabled">netboot enabled</option>
                <option value="owners">owners</option>
                <option value="power_address">power address</option>
                <option value="power_id">power id</option>
                <option value="power_pass">power password</option>
                <option value="power_type">power type</option>
                <option value="power_user">power user</option>
                <option value="profile">profile</option>
                <option value="redhat_management_key">red hat management key</option>
                <option value="redhat_management_server">red hat management server</option>
                <option value="repos">repos</option>
                <option value="server">server override</option>
                <option value="subnet">subnet</option>
                <option value="static">static</option>
                <option value="static_routes">static_routes</option>
                <option value="template_files">template files</option>
                <option value="virt_auto_boot">virt autoboot</option>
                <option value="virt_bridge">virt bridge</option>
                <option value="virt_cpus">virt cpus</option>
                <option value="virt_file_size">virt file size (GB)</option>
                <option value="virt_path">virt path</option>
                <option value="virt_ram">virt ram (MB)</option>
                <option value="virt_type">virt type</option>{% endifequal %}
                {% ifequal what "repo" %}<option value="arch">arch</option>
                <option value="breed">breed</option>
                <option value="comment">comment</option>
                <option value="createrepo_flags">createrepo flags</option>
                <option value="environment">environment</option>
                <option value="keep_updated">keep updated</option>
                <option value="mirror">mirror</option>
                <option value="mirror_locally">mirror locally</option>
                <option value="owners">owners</option>
                <option value="priority">priority</option>
                <option value="rpm_list">rpm list</option>
                <option value="yumopts">yum options</option>{% endifequal %}
                {% ifequal what "image" %}<option value="arch">arch</option>
                <option value="breed">breed</option>
                <option value="comment">comment</option>
                <option value="file">file</option>
                <option value="image_type">image type</option>
                <option value="network_count">network count</option>
                <option value="os_version">os version</option>
                <option value="owners">owners</option>
                <option value="virt_auto_boot">virt autoboot</option>
                <option value="virt_ram">virt ram (MB)</option>
                <option value="virt_path">virt path</option>
                <option value="virt_type">virt type</option>
                <option value="virt_cpus">virt cpus</option>
                <option value="virt_bridge">virt bridge</option>
                <option value="virt_file_size">virt file size (GB)</option>{% endifequal %}
                {% ifequal what "network" %}<option value="address">address</option>
                <option value="broadcast">broadcast</option>
                <option value="cidr">cidr</option>
                <option value="gateway">gateway</option>
                <option value="name_servers">name servers</option>
                <option value="owners">owners</option>
                {% endifequal %}
              </select>
          </li>
          <li style="float: left"><input type="text" name="filter_value" id="filter_value" size="10"  onkeypress="javascript:if (event.keyCode == 13) add_filter();"/></li>
        </ul>
      {% if filters %}
      <ul id="filter-remover">
        {% for key,value in filters.items %}
        <li><a href="/cobbler_web/{{ what }}/modifylist/removefilter/{{ key }}" title="remove">[x]</a> {{ key }} = {{ value }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <ul>
        <li>Items/page:
          <select name="limit" id="limit" onchange="javascript:location='/cobbler_web/{{ what }}/modifylist/limit/'+this.value">
          {% for p in pageinfo.items_per_page_list %}
          <option value="{{ p }}"{% ifequal pageinfo.items_per_page p %} selected{% endifequal %}>{{ p }}</option>
          {% endfor %}
          </select>
        </li>
      </ul>
      <ul id="page_prev_next">
        <li style="float: left;">
          {% ifnotequal pageinfo.prev_page "~" %}
          <input type="button" value="&lt;" onclick='javascript:location="/cobbler_web/{{ what }}/modifylist/page/{{ pageinfo.prev_page }}"'/>
          {% else %}
          <input type="button" value="&lt;" disabled='true'/>
          {% endifnotequal %}
        </li>
        <li style="float: left;">
          <select name="page" id="page" onchange="javascript:location='/cobbler_web/{{ what }}/modifylist/page/'+this.value">
            {% for p in pageinfo.pages %}<option value="{{ p }}"{% ifequal pageinfo.page p %} selected{% endifequal %}>Page {{ p }}</option>{% endfor %}
          </select>
        </li>
        <li style="float: left;">
          {% ifnotequal pageinfo.next_page "~" %}
          <input type="button" value="&gt;" onclick='javascript:location="/cobbler_web/{{ what }}/modifylist/page/{{ pageinfo.next_page }}"'/>
          {% else %}
          <input type="button" value="&gt;" disabled="true"/>
          {% endifnotequal %}
        </li>
      </ul>
      </fieldset>
    {% endif %}
