{% extends "master.tmpl" %}

{% block content %}
<h3>Settings (Read Only)</h3>
<table class="sortable">
    <thead>
        <tr>
            <th class="text">Property</th>
            <th class="text">Value</th>
        </tr>
    </thead>
    <tbody>
        {% if settings %}
        {% for setting,value in settings %}
        <tr class="{% cycle 'rowodd' 'roweven' %}">
            <td>{{ setting }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="3">No settings found.</td>
        </tr>
        {% endif %}
    </tbody>
</table>

<br/>
These settings live in /etc/cobbler/settings on the server.<br/>
After making changes, run "cobbler sync" and restart cobblerd.
{% endblock %}
