{% extends "master.tmpl" %}

{% block content %}
  <h1>Settings</h1>
  <hr/>
  <p>
    These settings live in /etc/cobbler/settings on the server.<br/>
    After making changes <a href="/cobbler_web/sync">sync</a> or run "cobbler sync" from the command line then restart cobblerd.
  </p>
  {% if settings %}
  <table id="listitems" cellspacing="0">
    <thead>
      <tr>
        <th>Setting</th>
        <th>Value (read-only)</th>
      </tr>
    </thead>
    <tbody>
      {% for setting,value in settings %}
      <tr class="{% cycle 'rowodd' 'roweven' %}">
        <td>{{ setting }}</td>
        <td>{% if value %}{{ value }}{% else %}None{% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h2 class="error">No settings found.</h2>
  {% endif %}
{% endblock content %}
