{% extends "master.tmpl" %}

{% block content %}
<fieldset>
  <legend>Settings</legend>
  <hr/>
  <p>
    These settings live in /etc/cobbler/settings on the server.<br/>
    After making changes <a href="/cobbler_web/sync">sync</a> or run "cobbler sync" from the command line then restart cobblerd.
  </p>
  {% if settings %}
  <table id="listitems" border="0" width="100%" cellspacing="0" cellpadding="2">
    <thead>
      <tr>
        <td>Setting</td>
        <td>Value (read-only)</td>
      </tr>
    </thead>
    <tbody>
      {% for setting,value in settings %}
      <tr class="{% cycle 'rowodd' 'roweven' %}">
        <td>{{ setting }}</td>
        <td>{% if value %}{{ value }}{% else %}None{% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h3>No settings found.</h3>
  {% endif %}
</fieldset>
{% endblock content %}
