{% extends 'master.tmpl' %}
{% block content %}
<fieldset>
  <legend>Cobbler Kickstart Snippets</legend>
  <table width="75%" cellpadding="2" cellspacing="0" border="0">
    <tr class="bgheader">
      <td>File</th>
      <td>Actions</th>
    </tr>
    {% for snippet,shortname,option in snippets %}
    <tr class="{% cycle 'rowodd' 'roweven' %}">
      <td>{{ shortname }}</td>
      {% if option %}
      {% ifequal option "editable" %}<td><a onclick="window.location='/cobbler_web/snippet/edit/{{ snippet }}'"/>Edit</a></td>{% endifequal %}
      {% else %}
      <td>N/A</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</fieldset>
{% endblock content %}
