{% extends 'master.tmpl' %}
{% block content %}
<fieldset>
  <legend id="listheader" class="action"><span id="shadeState"></span> Cobbler Kickstart Snippets</legend>
  <hr />
  <!-- This is kind weird, but force the name "snippet"
  because we know this is the ksfile page. If this gets moved
  to generic_list, then it can be hacked around -->
  <ul id="listactions">
    <li><a class="action" href="/cobbler_web/{{ what }}/edit">Create new snippet</a><li>
  </ul>
  <table id="listitems" border="0" width="100%" cellspacing="0" cellpadding="2">
    <thead>
      <td>File</td>
      <td>Actions</td>
    </thead>
    <tbody>
      {% for snippet,shortname,option in snippets %}
      <tr class="{% cycle 'rowodd' 'roweven' %}">
        <td>{{ shortname }}</td>
        {% if option %}
        <td>
        {% ifequal option "editable" %}<span class="action" onClick="window.location='/cobbler_web/snippet/edit/file:{{ snippet }}'">Edit</a> {% endifequal %}
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</fieldset>
{% endblock content %}
