{% extends 'master.tmpl' %}
{% block content %}
<table class="sortable">
    <thead>
        <caption>Cobbler Kickstart Snippets</caption>
        <tr>
            <th class="text">File</th>
            <th class="text">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for snippet,shortname,option in snippets %}
        <tr class="{% cycle 'rowodd' 'roweven' %}">
            <td>{{ shortname }}</td>
            {% if option %}
            {% ifequal option "editable" %}<td><input type="button" value="Edit" onclick="javascript:location='/cobbler_web/snippet/edit/{{ snippet }}'"/></td>{% endifequal %}
            {% else %}
            <td>N/A</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
