{% extends 'master.tmpl' %}
{% block content %}

{% if not editable %}
<blockquote>
NOTE: You do not have permission to make changes to this
snippet and can only read it.  

Contact your Cobbler server administrator
if you need to resolve this.
</blockquote>
<br />
{% endif %}
<h1>{% ifequal editmode 'edit' %}Editing{% else %}Adding{% endifequal %} a Snippet</h1>
<hr />
<form id="snippetform" method="post" action="/cobbler_web/snippet/save">
  <ol>
    <li>
      <label for="snippetdata">{% if snippet_name %}Snippet: {{ snippet_name }}{% else %}Filename:{% endif %}</label>
{% ifnotequal editmode 'edit' %}
      <input type="text" name="snippet_name" id="snippet_name" />
      <span class="context-tip">Example:  foo.ks (to be saved in /var/lib/cobbler/snippets/)</span>
{% else %}
      <input type="hidden" name="snippet_name" value="{{ snippet_name }}" />
{% endifnotequal %}
    </li> 
    <li>
      <pre><textarea name="snippetdata" id="snippetdata">{{ snippetdata }}</textarea></pre>
    </li>
{% if deleteable %}
    <li>
      <label class="delete" for="delete1">Delete</label>
      <input type="checkbox" name="delete1" value="delete1" />
      <label class="delete" for="delete2">Really?</label>
      <input type="checkbox" name="delete2" value="delete2" />
      <span class="context-tip">Check both buttons and click save to delete this object</span>
    </li>
{% else %}
  {% ifequal editmode "edit" %}
    <li>
      <span class="warn">NOTE: This kickstart template is currently in-use.</span>
    </li>
  {% endifequal %}
{% endif %}
{% if editable %}
    <li>
      <input type="hidden" name="editmode" value="{{ editmode }}" />
      <input class="button" type="submit" name="submit" value="Save" />
      <input class="button" type="reset" name="reset" value="Reset" />
    </li>
{% endif %}
  </ol>
</form>
{% endblock content %}
