{% extends "master.tmpl" %}

{% block content %}

<form name="myform" method="post" action="/cobbler_web/system/netboot/domulti">
    <table class="sortable">
    <thead>
        <caption>Change netboot of the following systems</caption>
        <tr>
            <th class="text">Name</th>
            <th class="text">Current Netboot</th>
        </tr>
    </thead>
    <tbody>
        {% for system in systems %}
        <tr class="{% cycle 'rowodd' 'roweven' %}">
            <td>{{ system.name }}</td>
            <td>{% if system.netboot_enabled %}Yes{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <p>
    <input type="radio" name="netboot_enabled" value="1">Enable Netboot</input>
    <input type="radio" name="netboot_enabled" value="0">Disable Netboot</input>
    </p>

    <input type="hidden" name="names" value="{{ names|join:" " }}" />
    <input type="submit" name="submit" value="Submit"/>
    <input type="button" name="cancel" onclick="javascript:history.go(-1)" value="Cancel"/>
</form>
{% endblock content %}
