{% extends "master.tmpl" %}

{% block content %}

<span class="section_caption">Tasks</span>

<table class="sortable">
    <thead>
        <tr>
            <th class="text">Start Time</th>
            <th class="text">Name</th>
            <th class="text">State</th>
            <th class="text">Log</th>
        </tr>
    </thead>
    <tbody>
        {% if results %}
        {% for line in results %}
        <tr class="{% cycle 'rowodd' 'roweven' %}">
            <td>{{ line.1 }}</td>
            <td>{{ line.2 }}</td>
            <td>{{ line.3 }}</td>
            <td><A HREF="/cobbler_web/tasklog/{{ line.0 }}">log</A>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>No Tasks</td>
            <td/>
            <td/>
        </tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}
