{% extends "master.tmpl" %}

{% block content %}

<h4>Task Enqueued</h4>

A background task has been created for the action you have initiated.  Pop-up notifications will alert you to status updates regarding this and other tasks.  You can also browse the <a href="/cobbler_web/events">Task Log</a>.

{% endblock %}

