{% extends "master.tmpl" %}

{% block content %}

<h4>Task Enqueued</h4>

A background task has been created for the action you have initiated.  Pop-up notifications will alert you to status updates regarding this and other tasks.  You can also browse the <A HREF="http://127.0.0.1/cobbler_web/events">Event Log</A>.

{% endblock %}

